/* WooCommerce CSS for Shaka  */
/*------------------------------------*\ Local variables
\*------------------------------------*/
body.woocommerce-page ul.products, .woocommerce ul.products { padding-top: 1.11111rem; margin-bottom: 0; }
@media (max-width: 767px) { body.woocommerce-page ul.products li:nth-child(odd).product, .woocommerce ul.products li:nth-child(odd).product { margin-right: 4%; } }
@media (max-width: 767px) { body.woocommerce-page ul.products li:nth-child(even).product, .woocommerce ul.products li:nth-child(even).product { margin-right: 0; } }
@media (max-width: 767px) { body.woocommerce-page ul.products li.first, .woocommerce ul.products li.first, body.woocommerce-page ul.products li.last, .woocommerce ul.products li.last { clear: none; } }
body.woocommerce-page ul.products li.product, .woocommerce ul.products li.product { margin-bottom: 3.33333rem; width: 48%; }
@media (min-width: 768px) { body.woocommerce-page ul.products li.product, .woocommerce ul.products li.product { width: 30.8%; } }
body.woocommerce-page ul.products li.product a, .woocommerce ul.products li.product a { color: #d80019; }
body.woocommerce-page ul.products li.product a img, .woocommerce ul.products li.product a img { box-shadow: none; transition: all ease-in-out .1s; }
body.woocommerce-page ul.products li.product a:hover img, .woocommerce ul.products li.product a:hover img { box-shadow: 0 0 0 2px; color: #d80019; }
body.woocommerce-page ul.products li.product a.button, .woocommerce ul.products li.product a.button { color: #333333; }
body.woocommerce-page ul.products li.product a.button:hover, .woocommerce ul.products li.product a.button:hover { color: #ffffff; }
body.woocommerce-page ul.products li.product h3, .woocommerce ul.products li.product h3 { font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; font-size: 1.11111rem; color: #3b3331; margin-bottom: 0; margin-top: 0.66667rem; line-height: 1.2; text-transform: uppercase; padding: 0.11111rem 0 0.33333rem; }
body.woocommerce-page ul.products li.product .price, .woocommerce ul.products li.product .price { font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; color: #d80019; font-size: 1.38889rem; line-height: 1.2; margin-bottom: 0.16667rem; margin-top: -0.16667rem; }
body.woocommerce-page ul.products li.product .price del, .woocommerce ul.products li.product .price del { font-size: 1rem; color: #888888; font-weight: normal; padding-top: 0.27778rem; }
body.woocommerce-page ul.products li.product .onsale, .woocommerce ul.products li.product .onsale { margin: -0.38889rem -0.38889rem 0 0; }
body.woocommerce-page ul.products li.product .button, .woocommerce ul.products li.product .button { margin-top: 0.66667rem; }
body.woocommerce-page ul.products .star-rating, .woocommerce ul.products .star-rating { margin: 0.11111rem 0 0.38889rem; }
body.woocommerce-page a.add_to_cart_button, .woocommerce a.add_to_cart_button { width: 100%; text-align: center; text-transform: uppercase; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 900; background: #f7f7f7; border: 0; box-shadow: none; text-shadow: none; color: #888888; padding: 0.83333rem; transition: all 100ms ease-out; margin-bottom: 0; }
body.woocommerce-page a.add_to_cart_button:hover, .woocommerce a.add_to_cart_button:hover { background: #d80019; color: #3b3331; box-shadow: none; }
body.woocommerce-page .woocommerce-ordering, .woocommerce .woocommerce-ordering { margin: 0; }
body.woocommerce-page .woocommerce-ordering .orderby, .woocommerce .woocommerce-ordering .orderby { border: 1px solid #ebedf2; background-color: #ffffff; padding: 0.55556rem; height: 2.22222rem; }
body.woocommerce-page span.onsale, .woocommerce span.onsale { background: #3b3331; text-shadow: none; box-shadow: none; height: 2.22222rem; width: 2.22222rem; color: #ffffff; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 900; line-height: 2rem; }
body.woocommerce-page .wc-forward::after, .woocommerce .wc-forward::after { content: '\f054'; font-family: 'FontAwesome'; margin-left: 0.55556rem; font-size: 0.77778rem; }
body.woocommerce-page .star-rating, .woocommerce .star-rating { color: #fac800; }
body.woocommerce-page .star-rating::before, .woocommerce .star-rating::before { content: '\53\53\53\53\53'; color: #e8e8e8; }

body.woocommerce-page a.button, body.woocommerce-page input.button, body.woocommerce-page input.button.alt, body.woocommerce-page button.button { display: inline-block; text-transform: uppercase; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; font-size: 0.83333rem; border-radius: 0; padding: 1.33333rem 1.11111rem 1.22222rem; text-shadow: none; background-color: #dddddd; color: #333333; transition: all 100ms ease-out; }
body.woocommerce-page a.button:hover, body.woocommerce-page input.button:hover, body.woocommerce-page input.button.alt:hover, body.woocommerce-page button.button:hover { background-color: #d80019; color: #ffffff; }
body.woocommerce-page a.button:active, body.woocommerce-page input.button:active, body.woocommerce-page input.button.alt:active, body.woocommerce-page button.button:active { top: 0; }
body.woocommerce-page .woocommerce-product-rating { line-height: 1; margin-bottom: 1.11111rem; }
body.woocommerce-page .woocommerce-product-rating .star-rating { margin-top: 0; margin-right: 0.83333rem; }
body.woocommerce-page .woocommerce-result-count { font-size: 0.77778rem; color: #a6acb2; letter-spacing: 0; margin-bottom: 0; margin-top: 1.05556rem; }
body.woocommerce-page nav.woocommerce-pagination { position: relative; padding-top: 3.33333rem; }
body.woocommerce-page nav.woocommerce-pagination::before { position: absolute; content: ''; width: 100%; height: 2px; left: 0; top: 0; background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2px, transparent 0, transparent 6px); }
body.woocommerce-page nav.woocommerce-pagination ul { display: inline-block; border: 0; }
body.woocommerce-page nav.woocommerce-pagination ul li { border: 0; background-color: transparent; margin: 0 0.11111rem; }
body.woocommerce-page nav.woocommerce-pagination ul li .page-numbers { font-size: 0.83333rem; width: 3.33333rem; border: 3px solid #3b3331; background-color: #3b3331; padding: 1.11111rem 0; font-weight: 800; border-radius: 0; }
body.woocommerce-page nav.woocommerce-pagination ul li a { color: #ffffff; }
body.woocommerce-page nav.woocommerce-pagination ul li a:focus, body.woocommerce-page nav.woocommerce-pagination ul li a:hover { background-color: #2d2725; border: 3px solid #2d2725; color: #ffffff; }
body.woocommerce-page nav.woocommerce-pagination ul li span.current { border: 3px solid #3b3331; background-color: #ffffff; padding: 1.11111rem 0; color: #3b3331; }
body.woocommerce-page nav.woocommerce-pagination ul li .prev, body.woocommerce-page nav.woocommerce-pagination ul li .next { position: absolute; border: 3px solid #d80019; background: #d80019; color: #d80019; -webkit-transform: rotate(25deg); transform: rotate(25deg); }
body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover, body.woocommerce-page nav.woocommerce-pagination ul li .next:hover { border: 3px solid #bf0016; background: #bf0016; color: #ffffff; }
body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover::before, body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover::after, body.woocommerce-page nav.woocommerce-pagination ul li .next:hover::before, body.woocommerce-page nav.woocommerce-pagination ul li .next:hover::after { color: #ffffff; }
body.woocommerce-page nav.woocommerce-pagination ul li .prev::before, body.woocommerce-page nav.woocommerce-pagination ul li .prev::after, body.woocommerce-page nav.woocommerce-pagination ul li .next::before, body.woocommerce-page nav.woocommerce-pagination ul li .next::after { font-size: 1.55556rem; position: absolute; left: calc(50% - 0.72222rem); top: calc(50% - 0.66667rem); color: #ffffff; font-weight: normal; font-family: 'FontAwesome'; -webkit-font-smoothing: antialiased; -webkit-transform: rotate(-25deg); transform: rotate(-25deg); }
body.woocommerce-page nav.woocommerce-pagination ul li .prev { left: 0; }
body.woocommerce-page nav.woocommerce-pagination ul li .prev::before { content: '\f177'; }
body.woocommerce-page nav.woocommerce-pagination ul li .next { right: 0; }
body.woocommerce-page nav.woocommerce-pagination ul li .next::after { content: '\f178'; padding-left: 0.05556rem; }
body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle, body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range { background: #d80019; box-shadow: none; border: 0; }
body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle { top: -0.16667rem; }
body.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child { margin-left: -0.66667rem; }
body.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content { background: #f7f7f7; margin: 1.11111rem 0; }
body.woocommerce-page .widget_price_filter .price_slider_wrapper .price_label { font-size: 0.88889rem; line-height: 2.44444rem; }
body.woocommerce-page .widget_price_filter .price_slider_wrapper .price_slider_amount input { width: 100%; margin-bottom: 0.55556rem; border: 1px solid #edeff2; border-radius: 0.11111rem; background-color: #f7f7f7; padding: 0.33333rem 0.66667rem; }
body.woocommerce-page .widget_price_filter .price_slider_wrapper .price_slider_amount input:focus { background-color: #ffffff; }
body.woocommerce-page .widget_product_categories a { display: block; color: #888888; }
body.woocommerce-page .widget_product_categories a:focus, body.woocommerce-page .widget_product_categories a:hover { text-decoration: none; color: #3b3331; }
body.woocommerce-page .widget_product_categories .product-categories { display: inline-block; width: 100%; padding: 0 1.11111rem; background-color: #ffffff; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.15); list-style: none; }
body.woocommerce-page .widget_product_categories .product-categories a { position: relative; font-family: "Dosis", Helvetica, Arial, sans-serif; font-size: 0.83333rem; font-weight: 800; text-transform: uppercase; padding: 0.77778rem 1.38889rem 0.77778rem 0.55556rem; border-radius: 0; margin: 0.66667rem 0; transition: all 100ms ease-out; }
body.woocommerce-page .widget_product_categories .product-categories a:focus, body.woocommerce-page .widget_product_categories .product-categories a:hover { text-decoration: none; color: #d80019; }
body.woocommerce-page .widget_product_categories .product-categories a:focus::after, body.woocommerce-page .widget_product_categories .product-categories a:hover::after { opacity: 1; visibility: visible; }
body.woocommerce-page .widget_product_categories .product-categories a::after { position: absolute; opacity: 0; visibility: hidden; content: '\f178'; font-family: 'FontAwesome'; font-size: 1.11111rem; color: #d80019; right: 0.55556rem; top: calc(50% - 0.66667rem); transition: all 100ms ease-out; }
body.woocommerce-page .widget_product_categories .product-categories > li:first-of-type::before { display: none; }
body.woocommerce-page .widget_product_categories .product-categories li { position: relative; }
body.woocommerce-page .widget_product_categories .product-categories li::before { content: ''; position: absolute; height: 2px; top: -7px; left: 0; right: 0; background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2px, transparent 0, transparent 6px); }
body.woocommerce-page .widget_product_categories .product-categories li.current-cat > a { position: relative; background-color: #d80019; color: #ffffff; z-index: 10; }
body.woocommerce-page .widget_product_categories .product-categories li.current-cat > a::after { opacity: 1; visibility: visible; color: #ffffff; }
body.woocommerce-page .widget_product_categories .children { list-style: none; padding-left: 0; }
body.woocommerce-page .widget_product_categories .children a { font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; font-weight: normal; text-transform: none; padding-left: 1.11111rem; }
body.woocommerce-page .widget_product_categories .children .children a { padding-left: 1.66667rem; }
body.woocommerce-page .widget_product_categories .children .children .children a { padding-left: 2.22222rem; }
body.woocommerce-page .widget_product_categories .children .children .children .children a { padding-left: 2.77778rem; }
body.woocommerce-page ul.product_list_widget a { color: #888888; }
body.woocommerce-page ul.product_list_widget li img { box-shadow: none; border-radius: 0.11111rem; width: 2.22222rem; height: 2.22222rem; margin-bottom: 0.83333rem; }
body.woocommerce-page ul.product_list_widget li .remove { display: none; }
body.woocommerce-page ul.product_list_widget li:last-of-type { padding-bottom: 0; }
body.woocommerce-page ul.product_list_widget li:last-of-type a img { margin-bottom: 0; }
body.woocommerce-page ul.product_list_widget .amount { color: #d80019; }
body.woocommerce-page .widget_shopping_cart_content ul.product_list_widget li:last-of-type a img { margin-bottom: 0.83333rem; }
body.woocommerce-page .widget_product_search .screen-reader-text { display: none; }
body.woocommerce-page .widget_product_search .search-field { width: 100%; border: 1px solid #ebedf2; background-color: #f7f7f7; padding: 0.33333rem 0.27778rem 0.33333rem 0.55556rem; font-weight: normal; height: 2.77778rem; border-radius: 0.11111rem; margin-bottom: 0.55556rem; }
@media (min-width: 992px) { body.woocommerce-page .widget_product_search .search-field { float: left; width: 70%; border-top-right-radius: 0; border-bottom-right-radius: 0; border-right: 0; } }
body.woocommerce-page .widget_product_search .search-field:focus { background: #ffffff; }
body.woocommerce-page .widget_product_search .search-field + input { width: 100%; height: 2.77778rem; background-color: #d80019; border: 0; color: #ffffff; border-radius: 0.11111rem; transition: all 100ms ease-out; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 900; text-transform: uppercase; font-size: 0.66667rem; }
@media (min-width: 992px) { body.woocommerce-page .widget_product_search .search-field + input { border-top-left-radius: 0; border-bottom-left-radius: 0; width: 30%; } }
body.woocommerce-page .widget_product_search .search-field + input:hover, body.woocommerce-page .widget_product_search .search-field + input:focus { background: #b90015; outline: none; }
body.woocommerce-page div.product div.images { margin-bottom: 1.66667rem; }
body.woocommerce-page div.product div.images img { box-shadow: none; margin-bottom: 1.66667rem; }
body.woocommerce-page div.product div.images div.thumbnails { padding-top: 0; }
body.woocommerce-page div.product div.images div.thumbnails a { margin-bottom: 0.83333rem; }
body.woocommerce-page div.product p.price { font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; font-size: 1.77778rem; color: #d80019; margin-bottom: 0.44444rem; }
body.woocommerce-page div.product p.price ins { text-decoration: none; }
body.woocommerce-page div.product p.price del { font-weight: normal; color: #888888; margin-bottom: -1.11111rem; }
body.woocommerce-page div.product form.cart { margin: 1.27778rem 0; }
body.woocommerce-page div.product form.cart div.quantity { margin-right: 0; }
body.woocommerce-page div.product form.cart .button.single_add_to_cart_button { width: calc(82% - 1.66667rem); margin-left: 1.66667rem; margin-right: 0; background-color: #d80019; text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35); color: #ffffff; transition: none; }
body.woocommerce-page div.product form.cart .button.single_add_to_cart_button:focus, body.woocommerce-page div.product form.cart .button.single_add_to_cart_button:hover { color: #ffffff; background-color: #b90015; }
body.woocommerce-page div.product form.cart .variations { width: 100%; }
body.woocommerce-page div.product form.cart .variations td.label { width: 20%; padding-right: 0; color: #3b3331; padding-top: 0.55556rem; }
body.woocommerce-page div.product form.cart .variations .value { width: 75%; padding-left: 5%; }
body.woocommerce-page div.product form.cart .variations select { width: 100%; border: 1px solid #ebedf2; border-radius: 0.11111rem; background-color: #ffffff; padding: 0.55556rem; }
body.woocommerce-page div.product form.cart .variations .reset_variations { display: inline-block; }
body.woocommerce-page div.product form.cart .single_variation .price { color: #3b3331; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 900; font-size: 0.88889rem; }
body.woocommerce-page div.product form.cart .single_variation .price del { color: #888888; font-family: "Roboto Condensed", Helvetica, Arial, sans-serif; font-size: 0.77778rem; }
body.woocommerce-page div.product form.cart .single_variation .price ins { text-decoration: none; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs { position: relative; display: inline-block; width: 100%; padding: 0; padding-bottom: 1.38889rem; margin-bottom: 0; font-size: 0; border: 0; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs::before { display: none; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs::after { position: absolute; content: ''; width: 100%; height: 2px; left: 0; bottom: 0; background: repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2px, transparent 0, transparent 6px); }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li { position: relative; z-index: 10; background-color: transparent; border: 0; padding: 0; margin: 0; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:last-of-type::before { display: none; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li::before { position: absolute; content: ''; height: 2.22222rem; width: 2px; right: -1px; left: inherit; top: calc(50% - 1.11111rem); background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 2px, transparent 0, transparent 6px); box-shadow: none; border-width: 0; border-radius: 0; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li::after { display: none; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li a { font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; font-size: 0.83333rem; text-transform: uppercase; text-shadow: none; color: #888888; padding: 0.83333rem 1.38889rem; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li:hover a { position: relative; color: #3b3331; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active { border-bottom: 0; border-radius: 0; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:hover a::after { display: none; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a { color: #3b3331; padding: 0.83333rem 1.38889rem; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.description_tab { margin-left: 0rem; }
body.woocommerce-page div.product .woocommerce-tabs ul.tabs li.description_tab a { padding-left: 0; }
body.woocommerce-page div.product .woocommerce-tabs h2 { font-size: 1.11111rem; text-transform: uppercase; margin-bottom: 0.83333rem; }
body.woocommerce-page div.product .woocommerce-tabs .commentlist { padding-left: 0; }
body.woocommerce-page div.product .woocommerce-tabs .panel { font-size: 1rem; margin-top: 1.66667rem; margin-bottom: 2.5rem; }
body.woocommerce-page #reviews #comments { width: 100%; }
body.woocommerce-page #reviews #comments ol.commentlist li .comment-text { border: 1px solid #ebedf2; }
body.woocommerce-page #reviews #comments ol.commentlist li .comment-text .meta { padding-top: 0; border-top: 0; color: #666666; }
body.woocommerce-page #reviews #comments h2 { margin-top: 0; }
body.woocommerce-page #reviews .comment-reply-title { font-size: 0.83333rem; margin-top: 0.83333rem; }
body.woocommerce-page #reviews label { font-weight: normal; }
body.woocommerce-page .woocommerce-error, body.woocommerce-page .woocommerce-info, body.woocommerce-page .woocommerce-message { border-top: 0; background: #f7f7f7; text-shadow: none; padding: 0.33333rem 0.33333rem 0.33333rem 3.33333rem !important; color: #3b3331; line-height: 2.77778rem; text-transform: uppercase; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; box-shadow: none; }
body.woocommerce-page .woocommerce-error .showlogin, body.woocommerce-page .woocommerce-error .showcoupon, body.woocommerce-page .woocommerce-info .showlogin, body.woocommerce-page .woocommerce-info .showcoupon, body.woocommerce-page .woocommerce-message .showlogin, body.woocommerce-page .woocommerce-message .showcoupon { color: #3b3331; text-decoration: underline; }
body.woocommerce-page .woocommerce-error .showlogin:hover, body.woocommerce-page .woocommerce-error .showcoupon:hover, body.woocommerce-page .woocommerce-info .showlogin:hover, body.woocommerce-page .woocommerce-info .showcoupon:hover, body.woocommerce-page .woocommerce-message .showlogin:hover, body.woocommerce-page .woocommerce-message .showcoupon:hover { color: #000000; }
body.woocommerce-page .woocommerce-error a.button, body.woocommerce-page .woocommerce-info a.button, body.woocommerce-page .woocommerce-message a.button { margin-right: 0; margin-bottom: 0; background-color: #d80019; color: #ffffff; padding: 1rem 1.66667rem; }
body.woocommerce-page .woocommerce-error a.button:hover, body.woocommerce-page .woocommerce-info a.button:hover, body.woocommerce-page .woocommerce-message a.button:hover { background-color: #bf0016; }
body.woocommerce-page .woocommerce-error::before, body.woocommerce-page .woocommerce-info::before, body.woocommerce-page .woocommerce-message::before { background-color: transparent; color: #3b3331; font-size: 1rem; font-family: 'FontAwesome'; padding-top: 0; box-shadow: none; top: calc(50% - 1.33333rem); }
body.woocommerce-page .woocommerce-error .wc-forward::after, body.woocommerce-page .woocommerce-info .wc-forward::after, body.woocommerce-page .woocommerce-message .wc-forward::after { display: none; }
body.woocommerce-page .woocommerce-message::before { content: '\f00c'; }
body.woocommerce-page .woocommerce-info::before { content: '\f129'; }
body.woocommerce-page .woocommerce-error::before { content: '\f00d'; }
body.woocommerce-page .short-description { padding-top: 0.83333rem; margin-top: 1.11111rem; margin-bottom: 1.11111rem; border-top: 1px solid rgba(0, 0, 0, 0.08); }
body.woocommerce-page .short-description::before { position: absolute; content: ''; background-color: #d80019; height: 0.16667rem; width: 1.66667rem; top: -0.16667rem; left: 0; }
body.woocommerce-page .short-description p { margin-bottom: 0; }
body.woocommerce-page #review_form #respond input, body.woocommerce-page #review_form #respond textarea { border: 3px solid #dddddd; background-color: #ffffff; padding: 0.44444rem; }
body.woocommerce-page #review_form #respond input:hover, body.woocommerce-page #review_form #respond textarea:hover { border: 3px solid #bbbbbb; }
body.woocommerce-page #review_form #respond input:focus, body.woocommerce-page #review_form #respond textarea:focus { border: 3px solid #3b3331; background-color: #ffffff; outline: 0; }
body.woocommerce-page #review_form #respond input#submit { display: inline-block; background-color: #d80019; color: #ffffff; border: 0; box-shadow: none; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 900; font-size: 0.66667rem; text-transform: uppercase; padding: 0.83333rem 1.11111rem; margin-bottom: 0.27778rem; margin-right: 0.27778rem; text-shadow: none; transition: all 100ms ease-out; }
body.woocommerce-page #review_form #respond input#submit:hover { background-color: #b90015; text-shadow: none; }
body.woocommerce-page #review_form #respond input#submit:active { top: 0; outline: 0; }
body.woocommerce-page #review_form #respond input#submit:focus { outline: 0; }
body.woocommerce-page #review_form #respond .comment-reply-title { margin-bottom: 0.55556rem; }
body.woocommerce-page .upsells.products h2, body.woocommerce-page .related h2 { font-size: 0.83333rem; margin-top: 0; }
@media (max-width: 767px) { body.woocommerce-page .upsells.products ul.products li:nth-child(odd).product, body.woocommerce-page .related ul.products li:nth-child(odd).product { margin-right: 4%; } }
@media (max-width: 767px) { body.woocommerce-page .upsells.products ul.products li:nth-child(even).product, body.woocommerce-page .related ul.products li:nth-child(even).product { margin-right: 0; } }
body.woocommerce-page .upsells.products ul.products li.product, body.woocommerce-page .related ul.products li.product { width: 48%; }
@media (min-width: 768px) { body.woocommerce-page .upsells.products ul.products li.product, body.woocommerce-page .related ul.products li.product { width: 30.8%; } }
body.woocommerce-page p.stars a { color: #fac800; }
body.woocommerce-page .entry-summary { font-size: 0.77778rem; padding-left: 0.16667rem; }
body.woocommerce-page .entry-summary .entry-title { color: #3b3331; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; font-size: 1.33333rem; text-transform: uppercase; margin-bottom: 0.16667rem; margin-top: 0; }
body.woocommerce-page .entry-summary p { font-size: 1rem; }
body.woocommerce-page .quantity { width: 18%; display: block; position: relative; }
body.woocommerce-page .quantity .qty { width: 100%; height: 3.33333rem; font-size: 0.77778rem; background-color: #ffffff; color: #888888; padding: 0.11111rem 0 0 0.66667rem; border: 3px solid #dddddd; }
body.woocommerce-page .quantity .qty:hover { border: 3px solid #bbbbbb; }
body.woocommerce-page .quantity .qty:focus { border: 3px solid #3b3331; color: #3b3331; outline: none; }
body.woocommerce-page button.button.alt { background: #d80019; border-color: #d80019; outline: none; color: #ffffff; }
body.woocommerce-page button.button.alt:hover { background: #af0014; border-color: #af0014; color: #ffffff; }
body.woocommerce-page table.shop_table { border-radius: 0; table-layout: auto; border-top: 0; }
body.woocommerce-page table.shop_table td { padding: 0.33333rem 0.94444rem; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); }
body.woocommerce-page table.shop_table th { color: #3b3331; text-transform: uppercase; padding: 0.83333rem 0.94444rem; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 800; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); }
body.woocommerce-page table.shop_table .product-remove { padding: 0.44444rem; width: 1.66667rem; }
body.woocommerce-page table.shop_table .product-remove a.remove { color: #3b3331 !important; background-color: #f7f7f7; border-radius: 0.11111rem; height: 1.66667rem; width: 1.66667rem; line-height: 1.66667rem; }
body.woocommerce-page table.shop_table .product-remove a.remove:hover { background-color: #3b3331; color: #ebedf2 !important; }
body.woocommerce-page table.shop_table .product-thumbnail { padding-left: 0; border-radius: 0.11111rem; text-align: center; }
body.woocommerce-page table.shop_table .product-thumbnail .attachment-shop_thumbnail { margin-bottom: 0; }
body.woocommerce-page table.shop_table .product-name a { color: #888888; font-size: 0.77778rem; }
body.woocommerce-page table.shop_table .product-price { font-weight: bold; font-size: 0.77778rem; }
body.woocommerce-page table.shop_table .product-quantity .quantity { width: 3.33333rem; margin: 0; }
body.woocommerce-page table.shop_table .product-quantity .quantity .qty { height: 1.66667rem; font-size: 0.77778rem; }
body.woocommerce-page table.shop_table .product-subtotal .amount { font-weight: bold; color: #3b3331; }
body.woocommerce-page table.shop_table td.actions { padding: 0.33333rem; border-top: 1px solid rgba(0, 0, 0, 0.1); }
body.woocommerce-page table.shop_table td.actions .coupon .input-text { background-color: #ffffff; border: 1px solid #dddddd; box-shadow: none; margin-right: 0.66667rem; padding: 0.72222rem 0.61111rem 0.5rem; width: 7.77778rem; }
@media (min-width: 992px) { body.woocommerce-page table.shop_table td.actions .coupon .input-text { width: 15.55556rem; } }
body.woocommerce-page table.shop_table td.actions .coupon .input-text:focus { border-color: #3b3331; color: #3b3331; }
body.woocommerce-page table.shop_table td.actions input.button { height: 2.22222rem; font-size: 0.66667rem; padding: 0.83333rem 1.11111rem; }
body.woocommerce-page table.shop_table td.actions input.button.alt { margin: 0 0 0 0.33333rem; background: #d80019; color: #3b3331; }
body.woocommerce-page table.shop_table td.actions input.button.alt:hover { background: #b90015; }
body.woocommerce-page .cart-collaterals { margin-top: 3.33333rem; }
body.woocommerce-page .cart-collaterals .cart_totals h2 { font-size: 0.83333rem; text-align: left; margin-top: 0; margin-bottom: 0.88889rem; }
body.woocommerce-page .cart-collaterals .cart_totals table { width: 100%; }
body.woocommerce-page .cart-collaterals .cart_totals table tr th, body.woocommerce-page .cart-collaterals .cart_totals table tr td { border-top: 1px solid rgba(0, 0, 0, 0.12); padding: 0.55556rem 0.83333rem; }
body.woocommerce-page .cart-collaterals .cart_totals table tr th { border-right: 1px solid rgba(0, 0, 0, 0.12); width: 45%; color: #3b3331; text-transform: uppercase; font-family: "Dosis", Helvetica, Arial, sans-serif; font-weight: 900; }
body.woocommerce-page .cart-collaterals .cart_totals table tr td { background-color: #f7f7f7; text-align: left; font-size: 0.77778rem; vertical-align: middle; }
body.woocommerce-page .cart-collaterals .cart_totals table tr td strong .amount { color: #3b3331; }
body.woocommerce-page .cart-collaterals .shipping_calculator h2 .shipping-calculator-button { font-size: 1rem; color: #3b3331; }
body.woocommerce-page .cart-collaterals .shipping_calculator h2 .shipping-calculator-button::after { content: '\f0d7'; font-family: 'FontAwesome'; }
body.woocommerce-page form .form-row textarea, body.woocommerce-page form .form-row select, body.woocommerce-page form .form-row input.input-text { background-color: #ffffff; border: 1px solid #dddddd; box-shadow: none; width: 100%; border-radius: 0.11111rem; padding: 0.55556rem; }
body.woocommerce-page form .form-row textarea:focus, body.woocommerce-page form .form-row input.input-text:focus { border-color: #cccccc; color: #3b3331; }
body.woocommerce-page form .form-row .chosen-container-single .chosen-single { background: #f7f7f7; border: 1px solid #ebedf2; box-shadow: none; height: 2.22222rem; vertical-align: middle; border-radius: 0.11111rem; padding: 0.27778rem 0.55556rem; color: #888888; }
body.woocommerce-page .cross-sells h2 { font-size: 0.83333rem; }
body.woocommerce-page #customer_details .checkbox { display: inline-block; margin: 0 0.27778rem 0 0; }
body.woocommerce-page form.checkout_coupon { padding-bottom: 0.33333rem; }
body.woocommerce-page #payment { background: #f7f7f7; border-radius: 0.11111rem; padding: 0 0.55556rem; border: 1px solid #ebedf2; color: #3b3331; }
body.woocommerce-page #payment #place_order { background-color: #d80019; color: #ffffff; padding: 1rem 1.66667rem; }
body.woocommerce-page #payment #place_order:hover { background-color: #b90015; }
body.woocommerce-page #payment ul.payment_methods { border-bottom: 1px solid #ebedf2; }
body.woocommerce-page #payment ul.payment_methods li input { margin-right: 0.27778rem; vertical-align: middle; }
body.woocommerce-page #payment div.form-row { border-top: 0; }
body.woocommerce-page #payment div.payment_box { background: #f7f7f7; border: 1px solid #ebedf2; box-shadow: none; border-radius: 0.11111rem; }
body.woocommerce-page #payment div.payment_box::after { border-bottom-color: #ebedf2; }
body.woocommerce-page table.shop_table th { color: #3b3331; }
body.woocommerce-page table.shop_table tbody:first-child tr:first-child td, body.woocommerce-page table.shop_table tbody:first-child tr:first-child th { border-top: 1px solid rgba(0, 0, 0, 0.1); }
body.woocommerce-page table.shop_table tfoot td { color: #3b3331; }
body.woocommerce-page a.button.added::before { top: 0.66667rem; right: -1.22222rem; }
body.woocommerce-page td.product-name dl.variation dd { margin-bottom: 0; }
body.woocommerce-page .widget_shopping_cart_content .buttons { margin-bottom: 0; }
body.woocommerce-page .widget_shopping_cart_content .buttons .wc-forward { width: 100%; margin-bottom: 0.55556rem; }
body.woocommerce-page .widget_shopping_cart_content .buttons .checkout { margin-bottom: 0; background-color: #d80019; color: #ffffff; border: 1px solid #d80019; box-shadow: none; }
body.woocommerce-page .widget_shopping_cart_content .buttons .checkout:hover { background-color: #bf0016; }

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button { background-color: #d80019; color: #ffffff; font-size: 0.77778rem; padding: 1.05556rem 1.11111rem 0.94444rem; }
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover { background-color: #b90015; color: #ffffff; }

.woocommerce { font-size: 0.77778rem; }
.woocommerce button.button.alt:disabled { background-color: #d80019; }
.woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover { background-color: #d80019; }
.woocommerce.widget_shopping_cart .cart_list li { padding-left: 0; }
.woocommerce.widget_shopping_cart .total { border-top: 1px solid rgba(0, 0, 0, 0.1); padding-top: 0.55556rem; color: #3b3331; }
.woocommerce.widget_shopping_cart .total .amount { color: #d80019; }
.woocommerce div.product .woocommerce-product-rating { margin-bottom: 1.66667rem; }

html body.woocommerce-page nav.woocommerce-pagination ul li .next:focus, html body.woocommerce-page nav.woocommerce-pagination ul li .next:hover, html body.woocommerce-page nav.woocommerce-pagination ul li .prev:focus, html body.woocommerce-page nav.woocommerce-pagination ul li .prev:hover { color: #d80019; text-shadow: none; }

body.woocommerce-page .buttons .wc-forward::after { position: absolute; right: 1.11111rem; }

.about_paypal { margin-left: 0.83333rem; }

.woocommerce-shop-page .sidebar { margin-top: 0.77778rem; }

.woocommerce-checkout h3, .woocommerce-checkout h2 { font-size: 0.83333rem; margin-top: 0.83333rem; margin-bottom: 0.83333rem; }

.woocommerce.columns-1, .woocommerce.columns-2, .woocommerce.columns-3, .woocommerce.columns-4 { margin-bottom: 30px; }
.woocommerce.columns-1::after, .woocommerce.columns-2::after, .woocommerce.columns-3::after, .woocommerce.columns-4::after { content: ''; display: table; clear: both; }

.woocommerce.columns-1 ul.products li.product, .woocommerce.columns-2 ul.products li.product, .woocommerce.columns-3 ul.products li.product, .woocommerce.columns-4 ul.products li.product { float: left; margin: 0 15px 30px 0; }
@media (min-width: 767px) { .woocommerce.columns-1 ul.products li.product, .woocommerce.columns-2 ul.products li.product, .woocommerce.columns-3 ul.products li.product, .woocommerce.columns-4 ul.products li.product { margin: 0 30px 30px 0; } }

.woocommerce.columns-1 ul.products li.product { max-width: 100%; }

.woocommerce.columns-2 ul.products li.product { max-width: calc(50% - 15px); }
@media (min-width: 767px) { .woocommerce.columns-2 ul.products li.product { max-width: calc(50% - 30px); } }

.woocommerce.columns-3 ul.products li.product { max-width: calc(50% - 15px); }
@media (min-width: 767px) { .woocommerce.columns-3 ul.products li.product { max-width: calc(33.3% - 30px); } }

.woocommerce.columns-4 ul.products li.product { max-width: calc(50% - 15px); }
@media (min-width: 767px) { .woocommerce.columns-4 ul.products li.product { max-width: calc(25% - 30px); } }

@media (min-width: 767px) { .woocommerce.columns-1 ul.products li.product:nth-of-type(1n), .woocommerce.columns-2 ul.products li.product:nth-of-type(2n), .woocommerce.columns-3 ul.products li.product:nth-of-type(3n), .woocommerce.columns-4 ul.products li.product:nth-of-type(4n) { margin-right: 0; } }

/*# sourceMappingURL=woocommerce.css.map */