
/* Remove Custom Sidebar premium buttons */
.csb-pro-layer {
	display: none;
}

/* Repeating fields in widgets */
.pt-widget-single-contact-profile-item,
.pt-widget-single-feature-item {
	padding: 0 10px;
	border: 1px solid rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.03);
	margin-bottom: 10px;
}

.pt-remove-contact-profile-item,
.pt-remove-feature-item {
	text-decoration: none;
}