/* 05.28. Accordion */
.accordion {
	background-color: #ffffff;
	box-shadow: $primary-box-shadow;

	&__panel {
		.panel-title {
			a {
				position: relative;
				display: block;
				padding: ptr(23) ptr(55) ptr(22) ptr(30);
				font-family: $secondary-font;
				font-weight: 800;
				font-size: ptr(14);
				text-transform: uppercase;
				color: $brand-primary;
				border-top: 2px solid transparent;
				transition: $primary-transition;

				&::before {
					position: absolute;
					content: '';
					width: calc(100% - #{ptr(50)});
					height: 2px;
					left: ptr(25);
					top: -2px;
					background: $horizontal-dotted-line;
				}

				&::after {
					position: absolute;
					content: '\f068';
					font-family: 'FontAwesome';
					right: ptr(23);
					top: calc(50% - #{ptr(12.5)});
					width: ptr(25);
					height: ptr(25);
					text-align: center;
					line-height: ptr(26);
				}

				&.collapsed {
					color: $gray-dark;

					&::after {
						content: '\f067';
					}
				}

				&:focus {
					text-decoration: none;
				}

				&:hover {
					text-decoration: none;
					color: $brand-primary;
				}
			}
		}

		&:first-of-type {
			a {
				&::before {
					display: none;
				}
			}
		}
	}

	&__content {
		.panel-body {
			position: relative;
			font-size: ptr(16);
			padding: ptr(20) ptr(55) ptr(20) ptr(30);
			border-top: 2px solid transparent;

			&::before {
				position: absolute;
				content: '';
				width: calc(100% - #{ptr(50)});
				height: 2px;
				left: ptr(25);
				top: -2px;
				background: $horizontal-dotted-line;
			}
		}
	}

	h4 {
		margin: 0;
	}

	.more-link {
		position: relative;
		display: block;
		border: 0;
		border-top: 2px solid transparent;
		margin-bottom: 0;
		margin-top: 0;
		padding: ptr(19) ptr(55) ptr(18) ptr(30);
		transition: $primary-transition;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(14);
		text-transform: uppercase;
		color: $gray-dark;

		&::before {
			position: absolute;
			content: '';
			width: calc(100% - #{ptr(50)});
			height: 2px;
			left: ptr(25);
			top: -2px;
			background: $horizontal-dotted-line;
		}

		&::after {
			position: absolute;
			content: '\f0c9';
			font-family: 'FontAwesome';
			font-size: ptr(13);
			right: ptr(23);
			top: calc(50% - #{ptr(12.5)});
			width: ptr(25);
			height: ptr(25);
			text-align: center;
			line-height: ptr(26);
		}

		&:focus,
		&:hover {
			text-decoration: none;
			color: $brand-primary;
		}
	}
}
