/* 05.27. Brochure Box */
.brochure-box {
	position: relative;
	display: block;
	padding: ptr(16) ptr(20) ptr(11);
	background-color: #ffffff;
	box-shadow: $primary-box-shadow;

	&__icon {
		vertical-align: middle;
	}

	.fa {
		display: inline-block;
		text-align: center;
		font-size: ptr(22);
		color: $gray-light;
		width: ptr(30);
		transition: $primary-transition;
	}

	&__text {
		display: inline-block;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(16);
		text-transform: uppercase;
		color: $gray-light;
		margin-left: ptr(7);
		transition: $primary-transition;
	}

	&:focus,
	&:hover {
		text-decoration: none;

		.fa {
			color: $gray-dark;
		}

		.brochure-box__text {
			color: $gray-dark;
		}
	}
}

.widget-brochure-box + .widget-brochure-box {
	margin-top: -30px;
}
