/* 05.20. Call to Action */
.call-to-action {
	@include media-breakpoint-up(lg) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		text-align: center;
		padding: 0 0 ptr(25);

		@include media-breakpoint-up(lg) {
			text-align: left;
			padding: 0;
		}
	}

	&__title {
		font-size: ptr(24);
		font-weight: 800;
		margin-bottom: 0;
		color: #ffffff;
	}

	&__subtitle {
		margin-top: ptr(7);
		margin-bottom: 0;
		font-size: ptr(16);
		line-height: 1.2;
	}

	&__button {
		text-align: center;

		@include media-breakpoint-up(lg) {
			text-align: left;
		}

		.btn {
			margin-left: ptr(15);

			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}
