/* 05.31. Contact Profile */
.contact-profile {
	border: 0;

	&__container {
		position: relative;
		box-shadow: $primary-box-shadow;
		padding: ptr(26) ptr(40) ptr(13);
	}

	&__label {
		@include funky-box();
		left: ptr(40);
	}

	&__name {
		position: relative;
		text-transform: uppercase;
		font-size: ptr(20);
		padding-bottom: ptr(18);
		margin-bottom: ptr(12);

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			background: $horizontal-dotted-line;
		}
	}

	&__item {
		padding-bottom: ptr(5);
	}

	&__icon {
		float: left;
		width: ptr(30);
		margin-top: ptr(-2);
	}

	&__text {
		margin-left: ptr(30);
		margin-bottom: 0;
		font-size: ptr(16);
	}

	&__social-icons {
		position: relative;
		padding-top: ptr(16);
		margin-top: ptr(10);

		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
			background: $horizontal-dotted-line;
		}
	}

	&__social-icon {
		color: $brand-primary;
		font-size: ptr(22);
		margin-right: ptr(5);

		&:focus,
		&:hover {
			color: darken($brand-primary, 5);
		}
	}
}
