/* 05.19. Featured Page */
.page-box {
	&__picture {
		display: inline-block;
		width: 100%;
		margin-bottom: ptr(26);

		img {
			width: 100%;
			transition: all 300ms ease-out;
		}
	}

	&__title {
		font-size: ptr(20);
		text-transform: uppercase;
		margin-bottom: ptr(11);

		a {
			color: $gray-dark;

			&:focus,
			&:hover {
				color: $gray-dark;
			}
		}
	}

	&__text {
		font-size: ptr(15);
		margin-bottom: 0;
	}

	&__content {
		display: inline-block;
		vertical-align: top;
	}

	&__more-link {
		display: inline-block;
		font-family: $secondary-font;
		font-size: ptr(15);
		font-weight: 800;
		text-transform: uppercase;
		margin-top: ptr(16);
	}

	&--block {
		.page-box__picture {
			overflow: hidden;

			&:focus,
			&:hover {
				img {
					transform: scale(1.05) translateZ(0);
				}
			}
		}
	}

	&--inline {
		display: flex;
		justify-content: space-between;

		.page-box__picture {
			display: inline-block;
			margin: 0;
		}

		.page-box__title {
			font-size: ptr(18);
			margin-bottom: ptr(5);
		}

		.page-box__content {
			flex-basis: calc(100% - 120px);
		}
	}
}
