/* 05.35. Featured Product */
.featured-product {
	box-shadow: $primary-box-shadow;

	&__image {
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			transition: all 300ms ease-out;
		}

		&:focus,
		&:hover {
			img {
				transform: scale(1.05) translateZ(0);
			}
		}
	}

	&__content {
		background-color: #ffffff;
		position: relative;
		padding: ptr(22) ptr(25) ptr(13);
	}

	&__price {
		@include funky-box();
		left: ptr(25);

		del {
			position: relative;
			color: $gray-lighter;
			margin-right: ptr(5);

			.amount {
				&::after {
					position: absolute;
					z-index: 10;
					content: '';
					background: $gray-light;
					height: 1px;
					left: 0;
					right: 0;
					bottom: calc(50% - 1px);
				}
			}
		}

		ins {
			text-decoration: none;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: ptr(15);
		margin-bottom: ptr(2);

		a {
			display: block;
			color: $gray-dark;
			padding: ptr(5) 0;

			@include media-breakpoint-up(lg) {
				padding: 0;
			}

			&:focus,
			&:hover {
				color: $gray-dark;
			}
		}
	}

	&__categories {
		font-size: ptr(15);
		padding: ptr(5) 0;

		@include media-breakpoint-up(lg) {
			padding: 0;
		}

		a {
			color: $gray-light;

			&:focus,
			&:hover {
				color: $gray-light;
			}
		}
	}
}
