/* 05.17. Icon Box */
.icon-box {
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

// Icon Box specific for Top Bar.
.top {
	.icon-box {
		display: block;
		color: $gray-light;

		.fa {
			vertical-align: middle;
			font-size: ptr(18);
			margin-right: ptr(6);
			padding-bottom: 1px;
		}

		&__text {
			display: inline-block;
			vertical-align: middle;
			padding-bottom: 1px;
		}

		&__title {
			display: inline-block;
			color: $gray-light;
			font-family: $primary-font;
			font-size: ptr(14);
			font-weight: normal;
			margin-bottom: 0;
		}
	}

	.widget-icon-box {
		padding: ptr(11) 0 ptr(8);
	}
}

.header {
	.icon-box {
		display: block;
		color: $gray-lightest;
		padding: ptr(20) ptr(30) ptr(16) ptr(20);

		@include media-breakpoint-up(lg) {
			padding: 20px 30px 16px 20px;
		}

		.fa {
			vertical-align: top;
			font-size: ptr(24);
			margin-right: ptr(6);
			color: rgba(255, 255, 255, .35);
			transition: $primary-transition;

			@include media-breakpoint-up(lg) {
				font-size: 24px;
			}
		}

		&__text {
			display: inline-block;
			font-family: $secondary-font;
			font-weight: 800;
			font-size: ptr(15);

			@include media-breakpoint-up(lg) {
				font-size: 15px;
			}
		}

		&__title {
			display: inline-block;
			color: $gray-lightest;
			font-family: $secondary-font;
			font-weight: 800;
			font-size: ptr(15);
			margin-bottom: 0;

			@include media-breakpoint-up(lg) {
				font-size: 15px;
			}
		}
	}

	a {
		&.icon-box {
			&:focus,
			&:hover {
				.fa {
					color: $gray-lightest;
				}
			}
		}
	}
}

.content-area {
	.icon-box {
		color: $gray-light;

		.fa {
			float: left;
			font-size: ptr(32);
			transition: $primary-transition;
			color: #dddddd;
		}

		&__title,
		&__subtitle {
			display: block;
			margin-left: ptr(60);
			font-size: ptr(16);
		}

		&__title {
			font-size: ptr(15);
			margin-bottom: ptr(12);
			text-transform: uppercase;
		}

		&:focus,
		&:hover {
			color: $gray-light;
		}
	}

	a {
		&.icon-box {
			&:focus,
			&:hover {
				.fa {
					color: $brand-primary;
				}
			}
		}
	}
}
