/* 05.36. Image Banner */
.image-banner {
	position: relative;
	display: block;
	overflow: hidden;

	&::after {
		position: absolute;
		content: '';
		opacity: .5;
		background-color: rgba(0, 0, 0, .2);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: all 300ms ease-out;
	}

	&:focus,
	&:hover {
		&::after {
			opacity: 1;
		}

		.image-banner__image {
			transform: scale(1.05) translateZ(0);
		}
	}

	&__image {
		position: relative;
		width: 100%;
		transition: all 300ms ease-out;
	}

	&__text {
		position: absolute;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(38);
		text-transform: uppercase;
		top: 50%;
		left: 50%;
		width: 80%;
		text-align: center;
		transform: translate(-50%, -50%);
		text-shadow: 0 1px 4px rgba(0, 0, 0, .15);
		color: #ffffff;
		z-index: 5;

		&--small {
			font-size: ptr(18);
		}

		&--big {
			font-size: ptr(58);
		}
	}
}
