/* 05.24. Instagram */

.pw-instagram {
	display: flex;
	flex-flow: row wrap;

	@include media-breakpoint-up(md) {
		flex-flow: row nowrap;
	}

	&__item {
		display: block;
		flex-basis: calc(50% - #{ptr(4)});
		transition: transform 200ms ease-out, filter 200ms ease-out;
		opacity: .7;
		filter: grayscale(100%);
		margin: ptr(2);
		will-change: transform;

		@include media-breakpoint-up(md) {
			flex-basis: auto;
		}

		&:hover {
			transform: scale(1.1, 1.1);
			opacity: 1;
			z-index: 10;
			filter: inherit;
		}

		&--cta {
			position: relative;
			background-color: #16639c;
			filter: none;
			opacity: 1;

			.pw-instagram__photo { // fix for the size of the CTA element
				visibility: hidden;

				@include media-breakpoint-up(xl) {
					display: none;
				}
			}

			&:focus,
			&:hover {
				text-decoration: none;
			}

			.fa {
				position: absolute;
				color: #ffffff;
				font-size: ptr(30);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@include media-breakpoint-up(xl) {
					left: ptr(20);
					top: inherit;
					bottom: ptr(15);
					transform: inherit;
				}
			}
		}
	}

	&__photo {
		opacity: 1;
		box-shadow: $primary-box-shadow;
		width: 100%;
	}

	&__title {
		display: none;

		@include media-breakpoint-up(xl) {
			display: block;
			text-transform: uppercase;
			font-size: ptr(15);
			color: #ffffff;
			padding: ptr(15) ptr(20) 0;
		}
	}

	&__text {
		display: none;

		@include media-breakpoint-up(xl) {
			display: block;
			font-size: ptr(14);
			color: rgba(255, 255, 255, .5);
			padding: 0 ptr(20);
		}
	}

	// Loader/spinner.
	&__loader {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
}
