/* 05.22. Latest News */
.latest-news {
	margin-bottom: 0;
	border: 0;
	box-shadow: $primary-box-shadow;

	&__image {
		display: block;
		overflow: hidden;

		img {
			transition: all 300ms ease-out;
			width: 100%;
		}

		&:focus,
		&:hover {
			img {
				transform: scale(1.05) translateZ(0);
			}
		}
	}

	&__content {
		padding: ptr(33) ptr(30) ptr(18);
	}

	&__title {
		font-size: ptr(20);
		text-transform: uppercase;

		a {
			color: $gray-dark;

			&:focus,
			&:hover {
				color: $gray-dark;
			}
		}
	}

	&__excerpt {
		font-size: ptr(15);
		margin-bottom: ptr(12);
	}

	&--featured,
	&--block {
		.latest-news__content {
			position: relative;
		}

		.latest-news__date {
			@include funky-box();
		}

		.latest-news__read-more {
			position: relative;
			display: inline-block;
			width: 100%;
			margin-top: ptr(6);
			padding-top: ptr(20);
			font-family: $secondary-font;
			font-weight: 800;
			font-size: ptr(15);
			text-transform: uppercase;

			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 2px;
				top: 0;
				left: 0;
				background: $horizontal-dotted-line;
			}
		}
	}

	&--featured {
		background: $gray-lightest url('assets/images/zig_zag.svg');
		background-size: cover;
		padding: ptr(30);
		box-shadow: none;

		@include media-breakpoint-up(sm) {
			padding: ptr(30) ptr(30) ptr(30) calc(50% - #{ptr(15)});
		}

		.latest-news__content {
			background-color: #ffffff;
			box-shadow: $primary-box-shadow;
		}

		.latest-news__title {
			margin-bottom: ptr(8);
		}

		.latest-news__read-more {
			// Zig Zag detail
			&::after {
				position: absolute;
				content: '';
				background-image: url('assets/images/zig_zag_single.svg');
				background-size: 80%;
				background-repeat: no-repeat;
				background-position: top right;
				top: ptr(-8);
				bottom: 0;
				right: ptr(-30);
				left: 0;
			}
		}
	}

	&--block {
		background-color: #ffffff;
	}

	&--inline {
		display: block;

		.latest-news__content {
			padding: ptr(21) ptr(30) ptr(16);
		}

		.latest-news__title {
			font-size: ptr(16);
			margin-bottom: ptr(3);
		}

		.latest-news__date {
			font-size: ptr(14);
			font-family: $secondary-font;
			font-weight: 800;
			color: $gray-light;
		}

		&:focus,
		&:hover {
			background-color: $gray-lightest;
			text-decoration: none;
		}
	}

	&--more-news {
		position: relative;
		display: block;
		background-color: #ffffff;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(15);
		text-transform: uppercase;
		padding: ptr(18) ptr(30);
		color: $link-color;

		&:focus,
		&:hover {
			text-decoration: none;
			background-color: $gray-lightest;
			color: $link-color;
		}
	}
}
