/* 05.32. Number Counter */
.number-counters {
	display: flex;
	flex-direction: column;

	@include media-breakpoint-up(lg) {
		flex-direction: row;
	}
}

.number-counter {
	flex: 1;
	transition: $primary-transition;
	margin-bottom: ptr(30);

	@include media-breakpoint-up(lg) {
		margin-right: ptr(30);
		margin-bottom: 0;
	}

	&:last-of-type {
		margin-bottom: 0;

		@include media-breakpoint-up(lg) {
			margin-right: 0;
		}
	}

	&__number {
		font-family: $secondary-font;
		font-weight: 300;
		color: $gray-dark;
		font-size: ptr(36);
		line-height: 1;
	}

	&__title {
		font-family: $primary-font;
		font-weight: normal;
		font-size: ptr(18);
		color: $gray-light;
		margin-top: ptr(4);
	}

	&__bar {
		position: relative;
		height: 3px;
		width: 100%;
		background-color: #dddddd;
		margin-top: ptr(10);

		&--progress {
			left: 0;
			width: 0;
			height: inherit;
			background: linear-gradient(90deg, $brand-primary, $link-color);
			transition: all 1s ease-out;
		}

		.in-view & {
			&--progress {
				width: 80%;
			}
		}
	}
}
