/* 05.26. Opening Time */
.time-table {
	display: block;

	.week-day {
		padding: 0;
		margin-bottom: ptr(9);
		font-size: ptr(14);
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		dt {
			padding-right: ptr(10);
		}

		dd {
			padding-left: ptr(10);
		}

		dt,
		dd {
			font-family: $secondary-font;
			font-weight: 800;
			font-size: ptr(15);
			text-transform: uppercase;
			display: inline-block;
			margin-bottom: 0;
		}

		&.today {
			color: $brand-primary;
		}

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	.additional-info {
		font-size: ptr(14);
		margin-right: ptr(9);
	}

	.widget-title {
		position: relative;
		font-size: ptr(15);
		text-transform: uppercase;
		text-align: center;
		padding-bottom: ptr(24);
		margin-bottom: ptr(10);

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			background: $horizontal-dotted-line;
		}
	}

	.popover-icon-box-content & {
		.week-day.today {
			color: #cccccc;
		}
	}
}
