/* 05.29. Person Profile */
.person-profile {
	border: 0;

	&:focus,
	&:hover {
		.slick-arrow {
			opacity: 1;
			visibility: visible;
		}
	}

	&__container {
		position: relative;
		padding: ptr(40) ptr(40) ptr(27);
		box-shadow: $primary-box-shadow;
	}

	&__label {
		@include funky-box();
		left: ptr(40);
	}

	&__name {
		text-transform: uppercase;
		font-size: ptr(24);
		margin-bottom: ptr(12);
	}

	&__description {
		font-size: ptr(16);
	}

	&__skills {
		position: relative;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(13);
		text-transform: uppercase;
		color: #bbbbbb;
		padding-top: ptr(20);

		// Dotted line.
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
			background: $horizontal-dotted-line;
		}

		+ .person-profile__tags {
			padding-top: ptr(3);

			&::before {
				display: none;
			}
		}
	}

	&__skill {
		margin-bottom: ptr(6);
	}

	&__skill-rating {
		margin-left: ptr(5);
		color: $gray-dark;
	}

	&__tags {
		position: relative;
		padding-top: ptr(20);

		// Dotted line.
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
			background: $horizontal-dotted-line;
		}
	}

	&__tag {
		display: inline-block;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(13);
		text-transform: uppercase;
		padding: ptr(4.5) ptr(10);
		margin-bottom: ptr(3);
		background-color: $gray-lightest;
		color: #bbbbbb;
		transition: $primary-transition;
	}

	&__social-icons {
		position: relative;
		margin-top: ptr(20);
		padding-top: ptr(11);
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(13);
		text-transform: uppercase;
		color: #bbbbbb;

		// Dotted line.
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
			background: $horizontal-dotted-line;
		}
	}

	&__social-icon {
		font-size: ptr(24);
		color: $brand-primary;
		margin-left: ptr(5);

		&:first-of-type {
			margin-left: ptr(7);
		}

		.fa {
			vertical-align: middle;
		}

		&:focus,
		&:hover {
			color: darken($brand-primary, 5);
		}
	}

	&__carousel {
		font-size: 0;

		.slick-arrow {
			position: absolute;
			opacity: 0;
			visibility: hidden;
			z-index: 10;
			top: calc(50% - #{ptr(30)});
			width: ptr(60);
			height: ptr(60);
			background-color: rgba(255, 255, 255, .7);
			color: rgba(0, 0, 0, .5);
			border: 0;
			transition: $primary-transition;

			&:focus {
				outline: none;
			}

			&:hover {
				background-color: rgba(255, 255, 255, .9);
				color: rgba(0, 0, 0, .7);
			}

			.fa {
				font-size: ptr(20);
				line-height: ptr(62);
			}
		}

		.slick-prev {
			left: ptr(40);

			.fa {
				padding-right: ptr(2);
			}
		}

		.slick-next {
			right: ptr(40);

			.fa {
				padding-left: ptr(2);
			}
		}
	}

	&__carousel-item--video {

		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
