/* 05.23. Portfolio Grid */
.portfolio-grid {
	position: relative;

	$border-color:        rgba(0, 0, 0, .1);
	$border-color-slider: rgba(0, 0, 0, .1);
	$animation-duration:  .2s; // needs to be in sync with JS
	$arrow-size:          (60rem / 18);

	&__header {
		position: relative;
		display: inline-block;
		margin-bottom: ptr(30);
		width: 100%;

		@include media-breakpoint-up(lg) {
			margin-bottom: ptr(40);
		}
	}

	&__title {
		display: inline-block;
		font-size: ptr(30);
		margin-top: ptr(15);
		margin-bottom: ptr(45);
		text-transform: uppercase;

		@include media-breakpoint-up(lg) {
			margin-top: ptr(11);
			margin-bottom: 0;
		}

		+ .portfolio-grid__nav {
			margin-top: 0;

			@include media-breakpoint-up(lg) {
				float: right;
			}
		}
	}

	&__nav {
		margin: 0;
		font-size: 0;
		list-style: none;
		overflow: hidden;
		position: relative;
		background-color: #f2f2f2;
		border: 1px solid #dddddd;
		padding: 0 ptr(30);
		margin-top: ptr(80);

		@include media-breakpoint-up(lg) {
			display: inline-block;
			overflow: visible;
			position: static;
			background-color: transparent;
			border: 0;
			padding: 0;
			margin-top: 0;
		}

		&-item {
			position: relative;
			text-overflow: ellipsis;
			text-transform: uppercase;
			font-family: $secondary-font;
			font-size: ptr(15);
			font-weight: 800;
			border-top: 1px solid #dddddd;

			@include media-breakpoint-up(lg) {
				display: inline-block;
				border-top: 0;
			}

			&:not(:last-of-type) {
				&::after {
					@include media-breakpoint-up(lg) {
						position: absolute;
						content: '';
						right: -2px;
						top: calc(50% - #{ptr(10)});
						background: $vertical-dotted-line;
						width: 2px;
						height: ptr(20);
					}
				}
			}

			// Last link has no padding on right side.
			&:last-of-type {
				.portfolio-grid__nav-link {
					padding-right: 0;
				}
			}

			.funky-underline {
				opacity: 0;
			}

			&.is-active {
				position: absolute;
				top: 0;
				left: ptr(30);
				right: ptr(30);
				color: $gray-dark;
				border-top: 0;

				@include media-breakpoint-up(lg) {
					position: relative;
					left: 0;
					right: 0;
				}

				.funky-underline {
					opacity: 1;
				}

				// scss-lint:disable NestingDepth

				> .portfolio-grid__nav-link {
					color: $gray-dark;

					&:focus,
					&:hover {
						color: $gray-dark;
					}
				}
			}

			&:hover {
				.funky-underline {
					opacity: 1;
				}
			}
		}

		&-link {
			display: block;
			font-size: ptr(16);
			padding-top: ptr(18);
			padding-bottom: ptr(18);
			color: $gray-light;
			transition: $primary-transition;

			@include media-breakpoint-up(lg) {
				display: inline-block;
				font-size: ptr(15);
				padding: ptr(20) ptr(20) ptr(18);
			}

			&:focus,
			&:hover {
				text-decoration: none;
				color: $gray-dark;
			}
		}
	}

	&__mobile-filter {
		position: absolute;
		right: 0;
		top: ptr(3);
		z-index: 2;
		height: $arrow-size;
		line-height: ptr(54);
		padding-top: 0;
		padding-bottom: 0;
	}

	&__arrow {
		position: relative;
		display: inline-block;
		text-align: center;
		width: $arrow-size;
		height: $arrow-size;
		line-height: ptr(68);
		background-color: rgba(0, 0, 0, .1);
		color: #888888;
		flex: 0 0 calc(50% - #{15rem / 18});
		transition: $primary-transition;
		transform: rotate(25deg);

		@include media-breakpoint-up(lg) {
			flex: 0 0 $arrow-size;
		}

		.fa {
			font-size: ptr(30);
			transform: rotate(-25deg);
		}

		@media (min-width: 1280px) {
			position: absolute;
			top: 50%;
		}

		&--left {
			padding-right: ptr(2);
			margin-left: calc(50% - #{ptr(85)});
			margin-right: ptr(50);

			@media (min-width: 1280px) {
				left: -85px;
				margin-left: 0;
				margin-right: 0;
			}
		}

		&--right {
			padding-left: ptr(2);

			@media (min-width: 1280px) {
				right: -85px;
			}
		}

		&:focus {
			background-color: #ffffff;
			color: $gray-light;
		}

		&:hover {
			background-color: #ffffff;
			color: $gray-dark;
		}
	}

	&__card {
		display: block;
		color: $gray-light;
		border: 0;
		margin-bottom: ptr(30);
		transition: $primary-transition;

		&-block {
			position: relative;
			padding: ptr(23) ptr(25) ptr(15);
			border: 1px solid $gray-lighter;
			transition: $primary-transition;
		}

		&-img {
			width: 100%;

			+ .portfolio-grid__card-block {
				border-top: 1px solid transparent;
			}
		}

		&-price {
			@include funky-box();
			left: ptr(25);
		}

		&-title {
			font-size: ptr(15);
			margin-bottom: ptr(2);
			text-transform: uppercase;
			transition: $primary-transition;
		}

		// Item Container
		&-items {
			position: relative;
			font-size: ptr(15);
			margin-top: ptr(12);
			padding-top: ptr(12);

			&::before {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: $horizontal-dotted-line;
			}
		}

		&-item {
			margin-bottom: 0;

			.fa {
				width: ptr(18);
			}
		}

		&:focus,
		&:hover {
			text-decoration: none;
			color: $gray-light;
			box-shadow: $primary-box-shadow;

			.portfolio-grid__card-block {
				border: 1px solid transparent;
			}
		}

		&--dummy {
			position: relative;
			background-color: #ffffff;
			border: 2px dashed transparent;
			box-shadow: none;

			// Dotted line on the left and right.
			&::before,
			&::after {
				position: absolute;
				content: '';
				top: 0;
				width: 2px;
				height: 100%;
				background: $vertical-dotted-line;
			}

			&::before {
				left: -2px;
			}

			&::after {
				right: -2px;
			}

			.fa {
				color: #cccccc;
			}

			.portfolio-grid__card-block {
				position: relative;
				padding: ptr(25);
				border: 0;

				// Dotted line on the top and bottom.
				&::before,
				&::after {
					position: absolute;
					content: '';
					left: -2px;
					height: 2px;
					width: calc(100% + 4px);
					background: $horizontal-dotted-line;
				}

				&::before {
					top: -2px;
				}

				&::after {
					bottom: -2px;
				}
			}

			.portfolio-grid__card-title {
				color: $gray-dark;
				font-size: ptr(18);
				margin-top: ptr(15);
				margin-bottom: ptr(5);
			}

			.portfolio-grid__card-text {
				line-height: 1.2;
				font-size: ptr(16);
				margin-bottom: ptr(20);
			}

			&.portfolio-grid__card {
				&:focus,
				&:hover {
					.portfolio-grid__card-block {
						border: 0;
					}

					.portfolio-grid__card-title {
						color: $gray-dark;
					}
				}
			}
		}
	}

	&__cta {
		white-space: inherit;
	}

	// &--grid {}
	&--slider {
		.portfolio-grid__header {
			border-bottom-color: $border-color-slider;
			padding-bottom: ptr(15);

			@include media-breakpoint-up(lg) {
				padding-bottom: 0;
			}
		}

		&.is-nav-arrows-hidden {
			.portfolio-grid__arrow {
				display: none;
			}

			.portfolio-grid__header {
				padding-bottom: 0;
			}
		}
	}

	// animations
	@keyframes fadeout {
		from {
			opacity: 1;
			transform: scale(1);
		}

		to {
			opacity: 0;
			transform: scale(0);
		}
	}

	.is-fadeout {
		animation: fadeout ease-in-out $animation-duration 1 forwards;
	}

	.is-fadein {
		animation: fadeout ease-in-out $animation-duration 1 reverse forwards;
	}

	// Hack, so the box-shadow is vissible.
	.carousel-inner > .carousel-item {
		margin: 0 ptr(3);
	}

	// Dark version of Portfolio Grid
	&--dark {
		.portfolio-grid__title {
			color: #ffffff;
		}

		.portfolio-grid__nav {
			background-color: rgba(255, 255, 255, .1);
			border-color: rgba(255, 255, 255, .2);

			@include media-breakpoint-up(lg) {
				background-color: transparent;
				border: 0;
			}
		}

		.portfolio-grid__nav-item {
			border-top-color: rgba(255, 255, 255, .2);

			@include media-breakpoint-up(lg) {
				border-top: 0;
			}

			&.is-active {
				> .portfolio-grid__nav-link {
					color: #ffffff;
				}
			}

			&:not(:last-of-type) {
				&::after {
					@include media-breakpoint-up(lg) {
						background: repeating-linear-gradient(180deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 2px, transparent 0, transparent 6px);
					}
				}
			}
		}

		.portfolio-grid__nav-link {
			color: rgba(255, 255, 255, .5);

			&:hover {
				color: #ffffff;
			}
		}

		.portfolio-grid__arrow {
			background-color: rgba(255, 255, 255, .1);
			color: #ffffff;
		}
	}
}
