/* 05.30. Pricing List */
.pricing-list {
	&__item {
		font-size: ptr(0);
		margin-bottom: ptr(8);
		display: flex;
		flex-flow: row wrap;

		&:last-of-type {
			margin-bottom: 0;

			.pricing-list__description {
				margin-bottom: 0;
			}
		}
	}

	&__badge,
	&__title,
	&__price {
		display: inline-block;
	}

	&__badge {
		font-size: ptr(13);
		text-transform: uppercase;
		line-height: 1;
		color: #ffffff;
		font-family: $secondary-font;
		font-weight: 800;
		background-color: $brand-primary;
		padding: ptr(7) ptr(7) ptr(5);
		margin-top: -2px;

		+ .pricing-list__title {
			padding-left: ptr(9);
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: ptr(15);
		font-weight: 800;
		color: $gray-dark;
		padding-right: ptr(2);
	}

	&__line {
		position: relative;
		flex: 1;

		&::after {
			position: absolute;
			content: '';
			height: 2px;
			background: $horizontal-dotted-line;
			top: ptr(14);
			left: ptr(10);
			width: calc(100% - #{ptr(20)});
		}
	}

	&__price {
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(15);
		padding-left: ptr(2);
		color: $gray-dark;
		float: right;
		padding-top: 1px;
	}

	&__description {
		margin-top: ptr(2);
		margin-bottom: ptr(13);
		font-size: ptr(15);
		width: 100%;
	}

	&__widget-title {
		h3 {
			font-size: ptr(27);
			margin-bottom: ptr(14);
		}
	}
}
