// 05.33. Pricing Table
.shaka-table {
	width: 100%;
	max-width: 100%;
	color: $gray-light;
	font-size: ptr(15);
	border: 0;

	thead {
		th {
			background-color: $brand-primary;
			padding: ptr(15) ptr(20);
			border-radius: $border-radius;
			color: #ffffff;
			border-right: 2px solid transparent;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			background-clip: padding-box;
			font-family: $secondary-font;
			font-weight: 800;
			font-size: ptr(18);
			text-transform: uppercase;

			&:first-of-type {
				background-color: transparent;
				box-shadow: 0 0 0 1px $gray-lighter inset;
				color: $gray-dark;
			}

			&:last-of-type {
				border-right: 0;
			}
		}
	}

	tbody {
		td {
			background-color: #ffffff;
			box-shadow: 0 0 0 1px $gray-lighter inset;
			padding: ptr(15) ptr(20);
			border-right: 2px solid transparent;
			border-bottom: 1px solid transparent;
			border-top: 1px solid transparent;
			background-clip: padding-box;
			border-radius: $border-radius;

			&:first-of-type {
				box-shadow: none;
				background-color: $gray-lightest;
				font-family: $secondary-font;
				font-weight: 800;
				text-transform: uppercase;
				font-size: ptr(15);
			}

			&:last-of-type {
				border-right: 0;
			}

			a {
				font-family: $secondary-font;
				font-weight: 800;
				text-transform: uppercase;
			}
		}
	}
}
