/* 05.25. Skype Button */
.skype-button {
	position: relative;
	display: block;
	padding: ptr(12) ptr(11);
	background-color: #1fa7da;
	border-radius: $border-radius;
	transition: $primary-transition;

	.fa {
		font-size: ptr(40);
		float: right;
		color: #79cae9;
		transition: $primary-transition;
	}

	&:focus,
	&:hover {
		background-color: darken(#1fa7da, 2);

		.fa {
			color: lighten(#79cae9, 5);
		}
	}

	&__title {
		display: inline-block;
		padding: ptr(7) ptr(15) ptr(7) ptr(10);
		margin: 0;
		color: #ffffff;
		font-size: ptr(15);
		font-family: $secondary-font;
		font-weight: 800;
		text-transform: uppercase;
	}
}
