/* 05.18. Social Icons */

// Social Icons specific for Top Bar.
.top {
	.social-icons {
		&__link {
			color: $gray-light;
			font-size: ptr(18);
			margin-left: ptr(5);

			&:focus,
			&:hover {
				color: $brand-primary;
			}

			&:first-of-type {
				margin-left: 0;
			}
		}
	}

	.widget-social-icons {
		vertical-align: top;
		padding: ptr(7) 0 ptr(6);
	}
}

.header {
	.social-icons {
		&__link {
			background-color: $gray-dark;
			color: rgba(255, 255, 255, .5);
			font-size: ptr(24);
			transition: $primary-transition;
			padding: ptr(12.5);
			flex: 1 1 100%;

			@include media-breakpoint-up(lg) {
				display: inline-block;
			}

			.fa {
				min-width: ptr(25);
				text-align: center;
			}

			+ .social-icons__link {
				border-left: 1px solid lighten($gray-dark, 8);

				@include media-breakpoint-up(lg) {
					margin-left: ptr(3);
					border-left: 0;
				}
			}

			&:focus,
			&:hover {
				color: #ffffff;
			}
		}
	}

	.widget.widget-social-icons {
		background-color: transparent; // Backgorund color of whole Social Icons widget must not be changed in customizer.
	}

	.widget-social-icons {
		font-size: 0;
		display: flex;

		@include media-breakpoint-up(lg) {
			display: inline-block;
		}
	}
}
