/* 05.34. Special Offer */
.special-offer {
	font-size: 0;

	&__image {
		position: relative;
		z-index: 0;

		@include media-breakpoint-up(lg) {
			display: inline-block;
			width: 50%;
		}
	}

	&__content {
		position: relative;
		vertical-align: top;
		font-size: ptr(18);
		padding: ptr(41) ptr(35);
		background-color: #ffffff;
		box-shadow: $primary-box-shadow;

		@include media-breakpoint-up(lg) {
			display: inline-block;
			width: 50%;
		}
	}

	&__label {
		@include funky-box();
		left: ptr(35);
	}

	&__title {
		margin-bottom: ptr(15);
		font-size: ptr(20);
		text-transform: uppercase;
	}

	&__price {
		margin-top: ptr(-13);
		margin-bottom: ptr(17);
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(24);
		text-transform: uppercase;
		color: $brand-primary;
	}

	&__features {
		margin-bottom: ptr(30);
	}

	&__feature {
		margin-bottom: ptr(3);

		&:last-of-type {
			margin-bottom: 0;
		}

		.fa {
			margin-right: ptr(5);
			vertical-align: middle;
			color: $gray-dark;
		}
	}

	&__text {
		margin-top: ptr(-10);
		font-size: ptr(15);
	}

	&__cta {
		display: block;
		text-transform: uppercase;
	}
}
