/* 05.21. Testimonials */
.widget-testimonials {
	position: relative;
	box-shadow: $primary-box-shadow;

	.widget-title {
		position: relative;
		text-align: center;
		text-transform: uppercase;
		padding: ptr(60);
		padding-bottom: 0;
		margin-bottom: ptr(27);
		font-size: ptr(30);

		// Top dotted line.
		&::before {
			position: absolute;
			content: '';
			width: calc(100% - #{ptr(40)});
			height: 2px;
			left: ptr(20);
			top: ptr(20);
			background: $horizontal-dotted-line;
		}

		+ .testimonial {
			padding-top: 0;

			&::before {
				display: none;
			}
		}
	}

	// Left and right dotted lines.
	&::before,
	&::after {
		position: absolute;
		z-index: 5;
		width: 2px;
		height: calc(100% - #{ptr(40)});
		top: ptr(20);
		background: $vertical-dotted-line;
	}

	&::before {
		left: ptr(20);
	}

	&::after {
		right: ptr(20);

		.content-area & {
			display: inherit;
		}
	}
}

.testimonial {
	position: relative;
	padding: ptr(60) 20%;

	// Top and bottom dotted lines.
	&::before,
	&::after {
		position: absolute;
		content: '';
		width: calc(100% - #{ptr(40)});
		height: 2px;
		left: ptr(20);
		background: $horizontal-dotted-line;
	}

	&::before {
		top: ptr(20);
	}

	&::after {
		bottom: ptr(20);
	}

	&__container {
		position: relative;
		background-color: #ffffff;
		margin-bottom: ptr(5);

		// Quotes on the left and right side
		&::before,
		&::after {
			position: absolute;
			z-index: 10;
			font-family: $secondary-font;
			font-size: ptr(100);
			font-weight: 800;
			text-align: center;
			width: ptr(68);
			height: ptr(90);
			line-height: ptr(135);
			background-color: $brand-primary;
			color: #ffffff;
		}

		&::before {
			content: '“';
			left: ptr(-15);
			top: ptr(40);

			@include media-breakpoint-up(md) {
				left: ptr(-25);
			}
		}

		&::after {
			content: '“';
			right: ptr(-15);
			bottom: ptr(40);
			transform: rotate(180deg);

			@include media-breakpoint-up(md) {
				right: ptr(-25);
			}
		}
	}

	blockquote {
		font-size: ptr(20);
		text-align: center;
		margin-bottom: ptr(26);
	}

	&__author {
		display: inline-block;
		color: $brand-primary;
		font-family: $secondary-font;
		font-weight: 800;
		vertical-align: middle;
		text-transform: uppercase;

		&-container {
			text-align: center;
		}

		&-name {
			display: inline-block;
			font-style: normal;
		}

		&-description {
			display: inline-block;
		}
	}

	&__rating {
		color: #fac800;
	}

	&__carousel {
		color: $brand-primary;
		font-size: ptr(30);
		vertical-align: middle;
		padding: 0 ptr(17);

		&:focus {
			color: $brand-primary;
		}

		&:hover {
			color: darken($brand-primary, 6);
		}
	}
}
