/* Weather */
.weather {
	font-family: $secondary-font;
	font-weight: 800;

	&__location {
		position: relative;
		text-align: center;
		font-size: ptr(15);
		text-transform: uppercase;
		margin-bottom: ptr(23);
		padding-bottom: ptr(15);

		.featured-widget & {
			margin-top: ptr(-15);
		}

		// Bottom dotted line.
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			background: $horizontal-dotted-line;
		}
	}

	&__current-text {
		position: absolute;
		z-index: 5;
		display: inline-block;
		font-size: ptr(12);
		background-color: #f2f2f2;
		left: 50%;
		transform: translate(-50%, 0);
		bottom: ptr(-10);
		padding: ptr(2) ptr(6);
	}

	&__current {
		display: flex;
		align-items: center;
		font-size: 0;
		margin-bottom: ptr(15);

		&-icon,
		&-temperature-container,
		&-wind {
			display: inline-block;
			flex: 0 1 auto;

			@include media-breakpoint-up(sm) {
				flex: 1 1 0;
			}

			@include media-breakpoint-up(lg) {
				flex: 0 1 auto;
			}
		}

		&-icon {
			min-height: ptr(90);

			@include media-breakpoint-up(sm) {
				margin-right: -2%;
			}

			@include media-breakpoint-up(lg) {
				width: calc(50% - #{ptr(50)});
				min-height: auto;
				max-height: ptr(100);
				margin-right: 0;
			}
		}

		&-temperature {
			font-size: ptr(60);
			line-height: 1;
			margin-top: ptr(1);
			margin-bottom: ptr(4);
			color: $gray-dark;

			@include media-breakpoint-up(lg) {
				font-size: ptr(54);
			}

			@include media-breakpoint-up(xl) {
				font-size: ptr(60);
			}

			sup {
				font-size: ptr(32);
				top: ptr(-20);
				left: ptr(2);

				@include media-breakpoint-up(lg) {
					font-size: ptr(26);
				}

				@include media-breakpoint-up(xl) {
					font-size: ptr(32);
				}
			}

			&-container {
				width: calc(50% - #{ptr(15)});
				padding-left: ptr(5);

				@include media-breakpoint-up(sm) {
					margin-left: -2%;
					padding-left: 0;
					width: auto;
				}

				@include media-breakpoint-up(lg) {
					width: calc(50% - #{ptr(15)});
					padding-left: ptr(5);
					margin-left: 0;
				}
			}
		}

		&-description {
			font-size: ptr(15);
			text-transform: uppercase;
			margin-bottom: 0;
			color: $gray-dark;
		}

		&-wind {
			text-align: center;
			background-color: #5897cc;
			color: #ffffff;
			padding-top: ptr(6);
			padding-bottom: ptr(4);
			width: ptr(65);

			@include media-breakpoint-up(sm) {
				width: auto;
			}

			@include media-breakpoint-up(lg) {
				width: ptr(65);
			}

			img {
				width: 40px;
			}

			&-speed {
				display: block;
				font-size: ptr(24);
				line-height: 1;
				margin-top: ptr(2);
				margin-bottom: ptr(-2);

				&-unit {
					display: block;
					font-size: ptr(15);
					color: #add0ed;
				}
			}
		}
	}

	&__forecast {
		background-color: #f2f2f2;
		padding: ptr(10) ptr(5);
		margin-top: ptr(5);
		font-size: 0;

		&-day,
		&-temperature,
		&-wind {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			font-size: ptr(15);
		}

		&-day {
			text-transform: uppercase;
			width: 20%;
		}

		&-temperature {
			position: relative;
			padding-left: ptr(15);
			padding-right: ptr(15);
			width: 35%;

			// Left dotted line.
			&::before {
				position: absolute;
				content: '';
				width: 2px;
				height: 100%;
				left: 0;
				top: 0;
				background: $vertical-dotted-line;
			}
		}

		&-icon {
			width: ptr(25);
			margin-top: ptr(-3);
			margin-right: ptr(5);
		}

		&-wind {
			position: relative;
			padding-left: ptr(15);
			padding-right: ptr(15);
			width: 45%;

			// Left dotted line.
			&::before {
				position: absolute;
				content: '';
				width: 2px;
				height: 100%;
				left: 0;
				top: 0;
				background: $vertical-dotted-line;
			}

			img {
				width: ptr(25);
				margin-top: ptr(-3);
				margin-right: ptr(10);
			}
		}
	}

	&__custom-link {
		position: relative;
		display: block;
		font-size: ptr(15);
		text-align: center;
		text-transform: uppercase;
		background-color: #f2f2f2;
		color: $gray-light;
		margin-top: ptr(5);
		padding: ptr(10) 0;
		transition: $primary-transition;

		.fa {
			padding-left: ptr(5);
		}

		&:focus,
		&:hover {
			text-decoration: none;
			color: $gray-dark;
		}
	}

	&__loader {
		text-align: center;
		margin-top: ptr(16);
		padding-top: ptr(10);
	}

	&__powered-by-link {
		display: block;
		font-size: ptr(12);
		color: $gray-light;
		font-weight: normal;
		text-align: center;
		margin: ptr(12) 0 ptr(-16);

		&:focus,
		&:hover {
			text-decoration: none;
			color: $gray-dark;
		}
	}
}
