/* 05.05. Breadcrumbs */
.breadcrumbs {
	position: relative;
	z-index: 10;
	font-size: ptr(15);
	font-family: $secondary-font;
	font-weight: 800;
	text-transform: uppercase;
	padding: ptr(19) 0;
	color: #999999;

	// Dotted line above breadcrumbs
	&::before {
		position: absolute;
		content: '';
		top: -1px;
		left: 0;
		width: 100%;
		height: 2px;
		background: $horizontal-dotted-line;
	}

	a {
		color: inherit;

		&:focus,
		&:hover {
			text-decoration: none;
			color: $brand-primary;
		}

		&::after {
			font-family: 'FontAwesome';
			content: '\f178';
			color: #a39f9f;
			font-size: ptr(18);
			margin-right: ptr(15);
			margin-left: ptr(15);
		}
	}

	span > span {
		display: inline-block;
		color: inherit;
	}

	.current-item {
		color: $brand-primary;

		&::after {
			display: none;
		}
	}
}
