/* 05.12. Button */
.btn {
	font-size: ptr(15);
	font-family: $secondary-font;
	transition: $primary-transition;
	border-width: 3px;

	.fa {
		font-size: ptr(19);
		vertical-align: middle;
		margin-right: ptr(7);
	}

	/* Rounded corner */
	&-rounded {
		border-radius: ptr(50);
	}

	&-primary {
		&:focus,
		&:hover {
			background-color: darken($brand-primary, 6);
			border-color: darken($brand-primary, 6);
		}
	}

	&-light {
		background-color: #ffffff;
		color: $gray-dark;

		&:focus,
		&:hover {
			background-color: darken(#ffffff, 6);
			color: $gray-dark;
		}
	}

	&-dark {
		background-color: $gray-dark;
		color: $gray-lightest;

		&:focus,
		&:hover {
			background-color: darken($gray-dark, 6);
			color: $gray-lightest;
		}
	}

	&-funky {
		position: relative;
		padding: ptr(0) ptr(5);
		border: 0;
		white-space: initial;
	}
}

.is-btn-title {
	font-size: ptr(30);
}
