/* 05.39. Comments */
.comments {
	margin-top: ptr(49);

	&__heading {
		text-transform: uppercase;
		font-size: ptr(30);
		margin-top: ptr(49);
		margin-bottom: ptr(38);
	}

	.logged-in-as {
		a {
			color: $gray-light;
		}
	}
}

.comment {
	@include list-unstyled;

	&__inner {
		display: inline-block;
		width: 100%;
		margin-bottom: ptr(30);
		padding: ptr(37) ptr(44) ptr(38);
		background-color: #ffffff;
		box-shadow: $primary-box-shadow;
	}

	&__avatar {
		float: left;
		margin-right: 30px;
	}

	.comment-reply-link,
	.comment-edit-link {
		font-weight: bold;
		font-size: ptr(15);
		text-transform: uppercase;
		margin-left: ptr(10);
		padding-left: ptr(10);
	}

	&__date,
	&__author {
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(15);
		text-transform: uppercase;
		color: #bbbbbb;

		a {
			color: #bbbbbb;
			font-style: normal;
		}
	}

	&__metadata {
		display: inline-block;
		float: right;
		font-size: ptr(14);
	}

	&__text {
		font-size: ptr(16);
		margin-bottom: ptr(14);

		p:last-of-type {
			margin-bottom: 0;
		}
	}

	&-form {
		textarea {
			padding: ptr(18) ptr(20);
		}
	}

	.children {
		margin-bottom: 0;
	}

	&-respond {
		.form-submit {
			margin-bottom: 0;
			text-align: right;
		}
	}
}
