/* 05.16. Contact Form 7 */

// scss-lint:disable QualifyingElement

.wpcf7-select,
.wpcf7-text,
.wpcf7-number,
.wpcf7-date,
.wpcf7-textarea {
	padding: ptr(16) ptr(20);
	margin-bottom: ptr(30);
	font-family: $secondary-font;
	font-weight: 800;
	font-size: ptr(15);
	width: 100%;
	transition: $primary-transition;

	&::placeholder {
		text-transform: uppercase;
	}
}

.wpcf7-textarea {
	height: ptr(250);
}

.wpcf7-notice {
	padding-bottom: ptr(20);

	@include media-breakpoint-up(sm) {
		display: inline-block;
		padding-top: ptr(16);
		padding-bottom: 0;
	}

	+ p {
		display: inline-block;

		@include media-breakpoint-up(sm) {
			float: right;
		}
	}
}

.wpcf7-submit {
	@include media-breakpoint-up(sm) {
		float: right;
	}
}

// Fix for the date field - Bootstrap 4.0 issue
input[type="date"].form-control.wpcf7-date {
	line-height: inherit;
}

.wpcf7 {
	.wpcf7-response-output {
		margin: ptr(5) 0;
		padding: ptr(10) ptr(20);
	}

	.wpcf7-validation-errors {
		background-color: $brand-warning;
		border: 2px solid $brand-warning;
		color: #ffffff;
	}

	.wpcf7-mail-sent-ng {
		background-color: $brand-danger;
		border: 2px solid $brand-danger;
		color: #ffffff;
	}

	.wpcf7-mail-sent-ok {
		background-color: $brand-success;
		border: 2px solid $brand-success;
		color: #ffffff;
	}

	.wpcf7-not-valid-tip {
		margin: 0 0 ptr(5);
	}
}
