/* 05.01. Custom Mixins */

// Funky box labels.
@mixin funky-box() {
	position: absolute;
	display: inline-block;
	top: ptr(-11);
	left: ptr(30);
	font-family: $secondary-font;
	font-size: ptr(15);
	font-weight: 800;
	text-transform: uppercase;
	background-color: $brand-primary;
	color: #ffffff;
	padding: ptr(0) ptr(5);
}
