/* 05.08. Error 404 */
.error-404 {
	text-align: center;

	img {
		width: 90%;
		height: auto;
		margin-top: ptr(30);
		margin-bottom: ptr(30);

		@include media-breakpoint-up(md) {
			width: auto;
		}

		@include media-breakpoint-up(lg) {
			margin-top: ptr(30);
			margin-bottom: ptr(60);
		}
	}

	&__content {
		margin-bottom: ptr(30);

		@include media-breakpoint-up(lg) {
			margin-bottom: ptr(80);
		}

		h2 {
			text-transform: uppercase;
			font-size: ptr(32);
			margin-bottom: ptr(22);
		}
	}

	&__text {
		margin-bottom: ptr(30);
	}

	// scss-lint:disable SelectorFormat

	.widget_search {
		@include media-breakpoint-up(lg) {
			display: inline-block;
			text-align: center;
		}

		.search-form {
			@include media-breakpoint-up(lg) {
				width: ptr(400);
			}
		}
	}
}
