/* 05.13. Featured Video */
.fvp-overlay,
.fvp-responsive,
.fvp-dynamic {
	overflow: hidden;

	&:focus,
	&:hover {
		img {
			transform: scale(1.05) translateZ(0);
		}
	}

	.fvp-actionicon {
		display: block;
		right: 0;
		bottom: 0;
		background-image: url('assets/images/play_icon.svg');
		background-size: 28%;

		&.play {
			background-image: url('assets/images/play_icon.svg');
		}
	}

	// scss-lint:disable ImportantRule

	img {
		opacity: 1 !important;
		transition: transform 300ms ease-out;
	}

	// Fix for Featured Page widget
	.page-box & {
		display: block;
		margin-bottom: ptr(26);
	}
}
