/* 05.07. Footer */
.footer {
	position: relative;
	overflow: hidden;
	background-color: $gray-dark;
	color: #a5a2a1;
	font-size: ptr(16);

	&-top {
		position: relative;
		background-color: $gray-dark;
		z-index: 20;
		padding: ptr(56) 0 ptr(55);
		box-shadow: 0 1px 10px rgba(0, 0, 0, .35);

		@include media-breakpoint-up(lg) {
			display: inline-block;
			width: calc(100% - #{ptr(60)});
			margin: ptr(30) ptr(30) 0;
		}

		@media (min-width: 1350px) {
			width: calc(100% - #{ptr(150)});
			margin: ptr(30) ptr(75) 0;
		}

		&__heading {
			font-size: ptr(20);
			margin-bottom: ptr(22);
			color: $gray-lightest;
			text-transform: uppercase;
		}

		a {
			color: inherit;
		}

		.widget {
			margin-bottom: ptr(30);

			@include media-breakpoint-up(lg) {
				margin-bottom: 0;
			}
		}

		.icon-container {
			display: inline-block;
			margin-right: ptr(3);
			width: ptr(30);
			vertical-align: middle;
		}

		.fa-2x {
			font-size: ptr(26);
		}
	}

	&-bottom {
		position: relative;
		z-index: 20;
		text-align: center;
		padding: ptr(28) 0;

		&__left {
			@include media-breakpoint-up(lg) {
				float: left;
			}
		}

		&__center {
			margin: ptr(10) 0;

			@include media-breakpoint-up(lg) {
				margin: 0;
			}
		}

		&__right {
			@include media-breakpoint-up(lg) {
				float: right;
			}
		}

		a {
			color: inherit;
			font-weight: bold;
		}

		.icon-container {
			display: inline-block;
			position: relative;

			.fa {
				font-size: ptr(20);
				vertical-align: middle;
			}

			+ .icon-container {
				margin-left: ptr(10);
				padding-left: ptr(15);

				&::before {
					position: absolute;
					content: '';
					width: 2px;
					height: 100%;
					top: ptr(-2);
					left: 0;
					background: repeating-linear-gradient(180deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 2px, transparent 0, transparent 6px);
				}
			}
		}
	}

	// Detail at the bottom right of Footer.
	&::after {
		position: absolute;
		content: '';
		right: 0;
		left: 0;
		top: 0;
		bottom: -12px;
		z-index: 10;
		background-image: url('assets/images/x.svg');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: bottom right;

		@include media-breakpoint-up(lg) {
			background-size: 24%;
		}
	}
}
