/* 05.03. Header */
.header {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;

	@include media-breakpoint-up(lg) {
		align-items: stretch;
		justify-content: flex-start;
	}

	&__container {
		position: relative;
		z-index: 25;
		padding-bottom: ptr(20);
		padding-top: ptr(12);
		box-shadow: 0 -1px 4px rgba(0, 0, 0, .35), 0 3px 7px rgba(0, 0, 0, .15);

		@include media-breakpoint-up(sm) {
			padding-bottom: ptr(30);
		}

		@include media-breakpoint-up(lg) {
			padding-bottom: 0;
		}

		// Different paddings when there is active Top Bar
		.top + & {
			padding-top: 0;

			&::before {
				top: 0;
			}
		}

		// Line above header.
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			top: 12px;
			background: $horizontal-dotted-line;
		}

		// Line below header.
		&::after {
			@include media-breakpoint-up(lg) {
				position: absolute;
				content: '';
				width: 100%;
				height: 2px;
				left: 0;
				bottom: 12px;
				background: $horizontal-dotted-line;
			}
		}
	}

	&__logo {
		display: inline-block;
		margin-top: ptr(15);
		margin-bottom: ptr(15);
		width: calc(100% - #{ptr(140)});

		@include media-breakpoint-up(lg) {
			margin-bottom: auto;
			min-height: ptr(86);
			width: 300px;
		}

		h1 {
			word-wrap: break-word;
			margin-top: 0;
			margin-bottom: 0;
			font-size: ptr(33);
			text-transform: uppercase;
			transition: $primary-transition;

			@include media-breakpoint-up(lg) {
				margin-top: ptr(24);
				margin-bottom: ptr(50);
			}
		}

		a {
			&:focus,
			&:hover {
				text-decoration: none;

				h1 {
					color: $brand-primary;
				}
			}
		}
	}

	&__navbar-toggler {
		height: ptr(60);
		width: ptr(110);
		padding: 0;
		font-size: ptr(13);
		margin-top: ptr(30);
		margin-bottom: ptr(30);
		margin-left: ptr(30);

		.fa {
			vertical-align: middle;
			font-size: ptr(24);
			margin-right: ptr(12);
		}

		&:focus,
		&:hover,
		&:active:focus {
			outline: none;
		}
	}

	&__navigation {
		width: 100%;

		@include media-breakpoint-up(lg) {
			width: calc(100% - 300px);
			text-align: right;
			z-index: 10;
		}
	}

	&__left-widgets,
	&__right-widgets {
		width: 100%;

		@include media-breakpoint-up(lg) {
			position: absolute;
			top: 100%;
			width: auto;
			z-index: 5;
		}

		.widget {
			font-size: ptr(15);
			font-family: $secondary-font;
			font-weight: 800;
			text-transform: uppercase;
			background-color: $gray-dark;
			color: $gray-lightest;
			vertical-align: top;
			border-bottom: 1px solid lighten($gray-dark, 8);
			text-align: center;

			@include media-breakpoint-up(lg) {
				display: inline-block;
				border-bottom: 0;
				text-align: left;
				font-size: 15px;
			}

			.textwidget {
				padding: ptr(20) ptr(20) ptr(18);

				@include media-breakpoint-up(lg) {
					padding: 20px 20px 18px;
				}
			}
		}
	}

	&__left-widgets {
		@include media-breakpoint-up(lg) {
			left: 0;
		}

		.widget {
			@include media-breakpoint-up(lg) {
				margin-right: 3px;
			}
		}
	}

	&__right-widgets {
		@include media-breakpoint-up(lg) {
			right: 0;
			text-align: right;
		}

		.widget {
			@include media-breakpoint-up(lg) {
				margin-left: 3px;
			}
		}
	}
}

.site-header {
	margin-bottom: ptr(90);

	+ .page-header,
	+ .pt-slick-carousel {
		margin-top: ptr(-90);
	}

	.page-template-template-front-page-slider-alt & {
		margin-bottom: 0;
	}
}
