/* 05.37. Hentry */
.hentry {
	&__header {
		margin-bottom: ptr(36);
	}

	&__date {
		display: inline-block;
		margin-bottom: ptr(10);
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(24);
		color: #bbbbbb;
		position: relative;
	}

	&__title {
		font-size: ptr(48);
		text-transform: uppercase;
		margin-bottom: ptr(25);
		word-wrap: break-word;
	}

	.meta {
		position: relative;
		margin-top: ptr(27);
		padding-top: ptr(32);
		font-size: 0;
		text-align: right;

		// Dotted line.
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			top: 0;
			left: 0;
			background: $horizontal-dotted-line;
		}

		&__item {
			font-size: ptr(13);
			font-family: $secondary-font;
			font-weight: 800;
			text-transform: uppercase;

			a {
				display: inline-block;
				background-color: $gray-lightest;
				color: #bbbbbb;
				margin-right: ptr(5);
				margin-bottom: ptr(5);
				padding: ptr(5.5) ptr(10);
				transition: $primary-transition;

				&:focus,
				&:hover {
					background-color: darken($gray-lightest, 5);
					color: darken(#bbbbbb, 5);
					text-decoration: none;
				}
			}

			&--author {
				float: left;
				font-size: ptr(18);
				text-transform: uppercase;
				padding-top: ptr(2);
				margin-right: ptr(10);
				color: #bbbbbb;
			}
		}
	}
}

// Masonry style for index, archive and search.
.masonry {
	.hentry {
		display: inline-block;
		margin-bottom: ptr(30);

		&__featured-image {
			display: block;
			overflow: hidden;

			&:hover {
				img {
					transform: scale(1.05) translateZ(0);
				}
			}

			img {
				transition: all 300ms ease-out;
			}
		}

		&__content {
			position: relative;
			padding: ptr(30) ptr(40) ptr(21);
			background-color: #ffffff;
			box-shadow: $primary-box-shadow;
			font-size: ptr(16);

			.more-link {
				display: block;
				margin-top: ptr(-5);

				// Search results has specific style.
				.search & {
					margin-top: ptr(13);
				}
			}
		}

		&__date {
			margin-bottom: ptr(18);
			background-color: $brand-primary;
			color: #ffffff;
			font-size: ptr(15);
			padding: ptr(4) ptr(10);
		}

		&__author {
			display: inline-block;
			width: 100%;
			font-family: $secondary-font;
			font-weight: 800;
			font-size: ptr(13);
			text-transform: uppercase;
			color: #bbbbbb;
			margin-bottom: ptr(5);

			.fa {
				margin-right: ptr(5);
			}
		}

		&__title {
			font-size: ptr(20);
			margin-bottom: ptr(13);

			a {
				color: $gray-dark;
			}
		}

		&__meta {
			margin-top: ptr(18);
			padding-top: ptr(26);
		}

		&__header {
			margin-bottom: 0;

			+ .hentry__content {
				padding: ptr(35) ptr(40) ptr(21);

				.hentry__date {
					position: absolute;
					top: ptr(-11);
					margin-bottom: 0;
					padding: 0 ptr(5);
				}
			}
		}

		.meta {
			text-align: left;
		}
	}

	.sticky {
		.hentry {
			&__content {
				background-color: $gray-dark;

				.more-link {
					color: $gray-lightest;
				}
			}

			&__title {
				a {
					color: $gray-lightest;
				}
			}
		}

		.meta {
			// Dotted line.
			&::before {
				background: repeating-linear-gradient(90deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 2px, transparent 0, transparent 6px);
			}

			&__item {
				a {
					background-color: $gray-lightest;
					color: $gray-dark;

					&:focus,
					&:hover {
						background-color: darken($gray-lightest, 5);
						color: darken($gray-dark, 5);
					}
				}
			}
		}
	}
}
