/* 05.11. Main Navigation */
.main-navigation {
	@include list-unstyled;
	font-size: 0; // Hack for having 0px space between menu-items.
	background-color: #f2f2f2;
	border: 1px solid #dddddd;
	margin-bottom: ptr(20);

	@include media-breakpoint-up(lg) {
		display: inline; // In that case featured link stays in the same line when menu goes over its container.
		margin: 0;
		border: 0;
		background-color: transparent;
	}

	.menu-item {
		position: relative;
		font-size: ptr(15);

		@include media-breakpoint-up(lg) {
			display: inline-block;
		}

		> .funky-underline {
			opacity: 0;
		}

		// :hover colors for Main Navigation links (without sub-menus).
		&:focus,
		&:hover,
		&.is-hover,
		&[aria-expanded="true"] {
			> a {
				color: #000000;
				text-decoration: none;

				@include media-breakpoint-up(lg) {
					color: $brand-primary;
				}

				&::after {
					@include media-breakpoint-up(lg) {
						color: $brand-primary;
					}
				}
			}

			> .funky-underline {
				opacity: 1;
			}

			// 1. level sub-menus are open on :hover.
			> .sub-menu {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	> .menu-item {
		&:last-of-type {
			> a {
				border-bottom: 0;

				@include media-breakpoint-up(lg) {
					padding-right: 0;
				}
			}
		}

		// Only first sub-menu has inset box-shadow.
		> .sub-menu {
			> .menu-item {
				&:first-of-type {
					> a {
						@include media-breakpoint-up(lg) {
							box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, .35);
						}
					}
				}
			}
		}
	}

	// Main Navigation Links and Colors.
	a {
		display: block;
		font-family: $secondary-font;
		font-weight: 800;
		text-transform: uppercase;
		padding: 20px 25px;
		border-bottom: 1px solid #dddddd;
		color: $gray-dark;
		transition: $primary-transition;

		@include media-breakpoint-up(lg) {
			padding: 47px 7px 59px;
			border-bottom: 0;
		}

		@include media-breakpoint-up(xl) {
			padding: 47px 15px 59px;
		}

		// Main Navigation Links on focus.
		&:focus {
			@include media-breakpoint-up(lg) {
				text-decoration: none;
				color: $gray-dark;
			}
		}
	}

	// Active current link.
	> .current-menu-item {
		> a {
			@include media-breakpoint-up(lg) {
				color: $brand-primary;
			}
		}

		&.menu-item-has-children {
			> a {
				&::after {
					@include media-breakpoint-up(lg) {
						color: $brand-primary;
					}
				}
			}
		}

		> .funky-underline {
			opacity: 1;
		}
	}

	// Line under link even if its menu ancestor.
	> .current-menu-ancestor {
		> a {
			@include media-breakpoint-up(lg) {
				color: $brand-primary;
			}
		}

		&.menu-item-has-children {
			> a {
				&::after {
					@include media-breakpoint-up(lg) {
						color: $brand-primary;
					}
				}
			}
		}
	}

	// Item with children.
	> .menu-item-has-children {
		// Indicator for sub-menus.
		> a {
			&::after {
				@include media-breakpoint-up(lg) {
					display: inline-block;
					vertical-align: top;
					content: '\f078';
					font-family: 'FontAwesome';
					margin-top: 2px;
					margin-left: ptr(8);
					width: ptr(6); // With width there is no shifting on page refresh.
					font-size: ptr(10);
					color: $gray-dark;
					transition: $primary-transition;
				}
			}
		}
	}

	// scss-lint:disable SelectorDepth

	// Sub-menu items.
	.sub-menu {
		@include list-unstyled;
		transition: $primary-transition;

		@include media-breakpoint-up(lg) {
			position: absolute;
			z-index: 10;
			background-color: transparent;
			visibility: hidden;
			opacity: 0;
		}

		.menu-item {
			display: block;

			// 2. level sub menus are open on :hover.
			&:focus,
			&:hover,
			&[aria-expanded="true"] {
				> .sub-menu {
					visibility: visible;
					opacity: 1;
				}
			}

			&:last-of-type {
				> a {
					@include media-breakpoint-up(lg) {
						border-bottom: 0;
					}
				}
			}

			> a {
				color: #999999;

				@include media-breakpoint-up(lg) {
					color: #ffffff;
				}

				&:hover {
					color: #000000;

					@include media-breakpoint-up(lg) {
						background-color: darken($brand-primary, 5);
						color: #ffffff;
					}
				}
			}
		}

		// Sub menu links on mobile.
		a {
			display: block;
			font-family: $primary-font;
			font-size: ptr(15);
			font-weight: normal;
			text-transform: inherit;
			color: #999999;
			padding: 19px 40px;
			transition: $primary-transition;
			text-align: left;

			// Sub menu links on desktop.
			@include media-breakpoint-up(lg) {
				background-color: $brand-primary;
				color: #ffffff;
				padding: ptr(13.5) ptr(20);
				min-width: ptr(150);
				white-space: nowrap;
				border-bottom: 1px solid darken($brand-primary, 5);
			}
		}

		// 2. level + are opening next to each other.
		.sub-menu {
			left: 100%;
			top: 0;

			a {
				padding-left: 50px;

				@include media-breakpoint-up(lg) {
					border-left: 1px solid darken($brand-primary, 5);
					padding-left: ptr(20);
				}
			}

			.sub-menu a {
				padding-left: 60px;

				@include media-breakpoint-up(lg) {
					padding-left: ptr(20);
				}
			}

			.sub-menu .sub-menu a {
				padding-left: 70px;

				@include media-breakpoint-up(lg) {
					padding-left: ptr(20);
				}
			}

			.sub-menu .sub-menu .sub-menu a {
				padding-left: 80px;

				@include media-breakpoint-up(lg) {
					padding-left: ptr(20);
				}
			}
		}

		.menu-item-has-children {
			> a {
				padding-right: ptr(40);
			}

			&::after {
				@include media-breakpoint-up(lg) {
					position: absolute;
					content: '\f054';
					font-family: 'FontAwesome';
					font-size: ptr(10);
					right: ptr(18);
					top: calc(50% - #{ptr(8)});
					color: #ffffff;
				}
			}
		}
	}

	// Featured button in main navigation
	&__featured-link {
		width: 100%;
		text-transform: uppercase;
		margin-bottom: ptr(20);

		@include media-breakpoint-up(lg) {
			width: auto;
			margin: ptr(27) 0 ptr(27) ptr(14);
		}

		@include media-breakpoint-up(xl) {
			margin: ptr(27) 0 ptr(27) ptr(26);
		}
	}
}
