/* No Flexbox */

// scss-lint:disable ImportantRule

.no-flexbox {
	.pt-sticky-menu {
		display: none;
	}

	.header {
		&__logo {
			@include media-breakpoint-up(lg) {
				width: 100%;
			}

			img {
				@include media-breakpoint-up(lg) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		&__navigation {
			@include media-breakpoint-up(lg) {
				width: 100%;
				text-align: center;
			}
		}
	}

	.pw-instagram {
		&__item {
			display: inline-block;
			width: 12.25%;

			&-cta {
				display: inline-block !important;
			}
		}
	}

	.image-banner {
		&__text {
			text-align: left;
			left: 10%;
		}
	}

	.call-to-action {
		&__text {
			@include media-breakpoint-up(lg) {
				text-align: center;
			}
		}

		&__button {
			@include media-breakpoint-up(lg) {
				text-align: center;
			}
		}
	}
}
