/* 05.04. Page Header */
.page-header {
	position: relative;
	z-index: 10;
	background-color: #f2f2f2;
	margin-bottom: ptr(90);
	padding-top: ptr(48);
	overflow: hidden;

	@include media-breakpoint-up(lg) {
		padding-top: ptr(108);
	}

	&__text {
		margin-bottom: ptr(50);
	}

	&__title {
		font-size: ptr(48);
		text-transform: uppercase;
		margin-bottom: 0;
	}

	&__subtitle {
		margin-top: ptr(10);
		margin-bottom: 0;
	}

	// If both (left and right) header widget areas are empty, than there should be smaller top padding.
	&--no-widgets {
		padding-top: ptr(48);
	}

	// Detail at the bottom right of Page Header.
	&::after {
		position: absolute;
		content: '';
		right: 0;
		left: 0;
		top: 0;
		bottom: -12px;
		opacity: .5;
		background-image: url('assets/images/x.svg');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: bottom right;

		@include media-breakpoint-up(lg) {
			background-size: 24%;
		}
	}
}

// Underscores class for titles.
.page-title {
	text-transform: uppercase;
}
