/* 05.38. Pagination */
.pagination {
	position: relative;
	display: inline-block;
	width: 100%;
	margin-top: ptr(30);
	padding-top: ptr(60);
	text-align: center;

	// Top dotted line.
	&::before {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		left: 0;
		top: 0;
		background: $horizontal-dotted-line;
	}

	.page-numbers {
		position: relative;
		display: inline-block;
		color: #ffffff;
		background-color: $gray-dark;
		border: 3px solid $gray-dark;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(15);
		margin-right: ptr(6);
		width: ptr(60);
		height: ptr(60);
		text-align: center;
		line-height: ptr(56);
		transition: $primary-transition;

		&:focus,
		&:hover {
			color: #ffffff;
			background-color: darken($gray-dark, 5);
			border: 3px solid darken($gray-dark, 5);
			text-decoration: none;
		}
	}

	.current {
		color: $gray-dark;
		background-color: transparent;

		&:focus,
		&:hover {
			color: darken($gray-dark, 5);
			background-color: transparent;
		}
	}

	.prev,
	.next {
		background-color: $brand-primary;
		border: 3px solid $brand-primary;
		margin-right: 0;
		line-height: ptr(66);
		transform: rotate(25deg);

		&:focus,
		&:hover {
			background-color: darken($brand-primary, 5);
			border: 3px solid darken($brand-primary, 5);
		}

		.fa {
			font-size: ptr(28);
			transform: rotate(-25deg);
		}
	}

	.next {
		float: right;
		padding-left: ptr(2);
	}

	.prev {
		float: left;
		padding-right: ptr(2);
	}
}
