/* 05.09. Single Portfolio */
.portfolio {
	&__featured-image {
		margin-top: ptr(-90);
		margin-bottom: ptr(60);

		img {
			width: 100%;
		}

		+ .content-area {
			.portfolio__basic-info {
				@include media-breakpoint-up(lg) {
					margin-top: -50%;
				}

				@media (min-width: 1700px) {
					margin-top: -70%;
				}
			}
		}
	}

	&__basic-info {
		position: relative;
		background-color: #ffffff;
		margin-bottom: ptr(60);
		padding: ptr(53) ptr(60) ptr(50);
		box-shadow: $primary-box-shadow;
	}

	&__price {
		position: absolute;
		display: inline-block;
		left: ptr(60);
		top: ptr(-30);
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(32);
		text-transform: uppercase;
		background-color: $brand-primary;
		color: #ffffff;
		padding: ptr(6) ptr(20);
	}

	&__title {
		font-size: ptr(32);
		text-transform: uppercase;
		margin-bottom: ptr(18);
	}

	&__text {
		margin-bottom: ptr(20);
	}

	&__specification {
		font-size: ptr(15);

		&-item {
			display: inline-block;
			margin-right: ptr(25);

			.fa {
				margin-right: ptr(5);
			}
		}
	}

	&__feature {
		position: relative;
		margin-top: ptr(29);
		padding-top: ptr(31);
		font-size: 0;

		// Top dotted line.
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			top: 0;
			background: $horizontal-dotted-line;
		}

		&-item {
			display: inline-block;
			font-size: ptr(16);
			width: 50%;
			margin-bottom: ptr(31);
			padding-right: ptr(30);
			vertical-align: top;

			.fa {
				font-size: ptr(30);
				vertical-align: middle;
				padding-bottom: ptr(3);
				margin-right: ptr(10);
				color: $link-color;
			}
		}

		+ .portfolio__cta {
			margin-top: 0;
		}
	}

	&__cta {
		position: relative;
		display: block;
		text-transform: uppercase;
		margin-top: ptr(29);
	}

	&__gallery {
		&-container {
			margin-bottom: ptr(60);
		}

		&-link {
			display: block;
		}

		&-item.gallery-item {
			display: block;
			margin: 0 ptr(5) ptr(5) 0;
		}

		&--col-2 {
			@extend %gallery-flex;
			justify-content: space-between;

			.portfolio__gallery-item {
				width: calc(50% - #{ptr(5)});
			}
		}

		&--col-3 {
			@extend %gallery-flex;
			justify-content: flex-start;

			.portfolio__gallery-item {
				width: calc(33.3% - #{ptr(5)});
				margin-right: ptr(5);

				&:nth-child(3n+3) {
					margin-right: 0;
				}
			}
		}
	}
}

%gallery-flex {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
}
