/* 05.06. Sidebar */
.sidebar {
	margin-top: ptr(50);

	@include media-breakpoint-up(lg) {
		margin-top: 0;
	}

	&__headings {
		position: relative;
		text-transform: uppercase;
		font-size: ptr(18);
		color: $gray-dark;
		padding-bottom: ptr(23);
		margin-bottom: ptr(25);

		&::after {
			position: absolute;
			content: '';
			width: 100%;
			height: 2px;
			left: 0;
			bottom: 0;
			background: $horizontal-dotted-line;
		}
	}

	.widget {
		margin-bottom: ptr(47);

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
