/* 05.14. Slick Carousel */
.pt-slick-carousel {
	position: relative;
	visibility: hidden; /* Hide the whole slider by default. It will be displayed once the slider initializes (with JS). */
	font-size: 0;
	margin-bottom: ptr(60);

	.carousel-item {
		// For video iframes.
		&__video {
			position: relative;
			padding-bottom: 34.375%; /* 1920:660 */
			height: 0;

			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		// IE fix (without this, the slider items look "cover").
		img {
			width: 100%;
		}
	}

	&__slides {
		position: relative;
	}

	&__content {
		position: relative;
		background-color: #ffffff;
		font-size: ptr(18);
		box-shadow: $primary-box-shadow;
		margin-top: ptr(-30);
		padding: ptr(30);

		@include media-breakpoint-up(lg) {
			position: absolute;
			background-color: transparent;
			box-shadow: none;
			margin-top: 0;
			padding: 0;
			top: 23%;
			width: ptr(520);
		}

		@include media-breakpoint-up(xl) {
			top: 25%;
		}

		@media (min-width: 1700px) {
			top: 28%;
		}

		&-title {
			color: $gray-dark;
			font-family: $secondary-font;
			font-weight: 800;
			font-size: ptr(32);
			text-transform: uppercase;
			line-height: 1.2;

			@include media-breakpoint-up(lg) {
				color: #ffffff;
				font-size: ptr(48);
				margin-bottom: ptr(10);
			}

			@include media-breakpoint-up(xl) {
				margin-bottom: ptr(20);
			}
		}

		&-description {
			color: $gray-light;

			@include media-breakpoint-up(lg) {
				color: $gray-lightest;
			}

			p {
				margin-bottom: ptr(23);

				@include media-breakpoint-up(xl) {
					margin-bottom: ptr(33);
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.btn {
				margin-right: ptr(5);

				@include media-breakpoint-down(md) {
					margin-top: ptr(5);
				}

				&-light {
					@include media-breakpoint-down(md) {
						background-color: $gray-lighter;
						border-color: $gray-lighter;
					}

					&:focus,
					&:hover {
						@include media-breakpoint-down(md) {
							background-color: darken($gray-lighter, 6);
							border-color: darken($gray-lighter, 6);
						}
					}

					&:active:hover {
						@include media-breakpoint-down(md) {
							background-color: darken($gray-lighter, 12);
							border-color: darken($gray-lighter, 12);
						}
					}
				}
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: calc(50% - #{ptr(40)});
		font-size: ptr(30);
		text-align: center;
		width: ptr(60);
		height: ptr(60);
		line-height: ptr(60);
		border: 0;
		background-color: rgba(255, 255, 255, .35);
		color: rgba(0, 0, 0, .35);
		z-index: 5;
		transition: $primary-transition;

		@include media-breakpoint-up(lg) {
			text-align: left;
			line-height: inherit;
			width: ptr(145);
			height: ptr(90);
		}

		&:focus {
			outline: 0;
			background-color: rgba(255, 255, 255, .35);
			color: rgba(0, 0, 0, .35);
		}

		&:hover {
			background-color: rgba(255, 255, 255, .5);
			color: rgba(0, 0, 0, .5);
		}
	}

	.slick-prev {
		left: ptr(15);
		padding-left: ptr(4);

		@include media-breakpoint-up(lg) {
			top: calc(50% + #{ptr(5)});
			left: inherit;
			right: 0;
			padding-left: ptr(20);
		}
	}

	.slick-next {
		right: ptr(15);
		padding-right: ptr(4);

		@include media-breakpoint-up(lg) {
			top: calc(50% - #{ptr(95)});
			right: 0;
			padding-left: ptr(20);
		}
	}

	.slick-dots {
		@include list-unstyled;
		position: absolute;
		bottom: ptr(45);
		left: 0;
		right: 0;
		text-align: center;
		margin-bottom: 0;

		li {
			display: inline-block;
			margin-right: ptr(10);
			background-color: rgba(0, 0, 0, .35);
			border: 0;
			border-radius: 50%;
			width: 10px;
			height: 10px;

			&:hover {
				cursor: pointer;
			}

			&:last-of-type {
				margin-right: 0;
			}

			button {
				display: none;
			}
		}

		.slick-active {
			background-color: rgba(0, 0, 0, .5);
		}
	}
}
