/* Sticky Menu - theme specific details */
.pt-sticky-menu {
	.main-navigation {
		> .menu-item {
			> a {
				@include media-breakpoint-up(lg) {
					padding-top: 30px;
					padding-bottom: 30px;
				}
			}
		}
	}

	&__call-to-action {
		text-transform: uppercase;

		.btn {
			@include media-breakpoint-up(xl) {
				margin-left: ptr(12);
			}
		}
	}
}
