/* 05.02. Top Bar */
.top {
	position: relative;
	z-index: 30;
	background-color: #ffffff;
	font-size: ptr(14);

	&__left {
		text-align: center;

		@include media-breakpoint-up(lg) {
			float: left;
		}

		.widget {
			@include media-breakpoint-up(lg) {
				display: inline-block;
				margin-right: ptr(20);
			}

			&:last-of-type {
				@include media-breakpoint-up(lg) {
					margin-right: 0;
				}
			}
		}
	}

	&__right {
		text-align: center;

		@include media-breakpoint-up(lg) {
			float: right;
		}

		.widget {
			@include media-breakpoint-up(lg) {
				display: inline-block;
				margin-left: ptr(20);
			}

			&:first-of-type {
				@include media-breakpoint-up(lg) {
					margin-left: 0;
				}
			}
		}
	}

	// Specific style for widgets in top bar.

	// scss-lint:disable SelectorFormat

	.widget_text {
		vertical-align: top;
		padding: ptr(11) 0 ptr(8);
	}
}
