/* 05.41. WordPress Widgets */

// scss-lint:disable SelectorFormat, NestingDepth, SelectorDepth

/* Applies to all widgets */
.widget {
	select,
	img {
		max-width: 100%;
		height: auto;
	}
}

/* Calendar Widget */
.widget_calendar {
	table {
		width: 100%;
		border: 0;
	}

	caption {
		background-color: $brand-primary;
		color: #ffffff;
		padding: ptr(5) 0;
		text-align: center;
		border-radius: $border-radius;
		caption-side: inherit;
	}

	thead {
		th {
			padding: ptr(5) 0;
			text-align: center;
			color: $gray-light;
			background-color: rgba(0, 0, 0, .05);
			border: 1px solid rgba(0, 0, 0, .05);
		}
	}

	tbody {
		td {
			padding: ptr(3) 0;
			text-align: center;
			border: 1px solid rgba(0, 0, 0, .05);
		}
	}

	tfoot {
		td {
			padding: ptr(5);
			border: 0;

			&:last-of-type {
				a {
					float: right;
				}
			}
		}
	}

	.footer & {
		thead {
			th {
				background-color: rgba(255, 255, 255, .05);
				border: 1px solid rgba(255, 255, 255, .05);
			}
		}

		tbody {
			td {
				border: 1px solid rgba(255, 255, 255, .05);
			}
		}
	}
}

/* Tag Cloud Widget */
.widget_tag_cloud {
	a {
		display: inline-block;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(13);
		text-transform: uppercase;
		padding: ptr(4.5) ptr(10);
		margin-bottom: ptr(6);
		background-color: $gray-lightest;
		color: #bbbbbb;
		transition: $primary-transition;

		&:focus,
		&:hover {
			background-color: darken($gray-lightest, 5);
			color: darken(#bbbbbb, 5);
			text-decoration: none;
		}
	}

	// Tags in Footer.
	.footer & {
		a {
			background-color: $gray-lightest;
			color: $gray-dark;

			&:focus,
			&:hover {
				background-color: darken($gray-lightest, 5);
				color: darken($gray-dark, 5);
			}
		}
	}
}

/* Search Widget */
.widget_search {
	label {
		margin-bottom: 0;
		width: 100%;
	}

	.search-form {
		position: relative;
	}

	.search-field {
		display: block;
		font-size: ptr(18);
		background-color: #ffffff;
		color: $gray-dark;
		border: 3px solid #dddddd;
		height: ptr(60);
		width: 100%;
		padding: 0 ptr(60) 0 ptr(20);
		transition: $primary-transition;

		&:hover {
			border: 3px solid #bbbbbb;
		}

		&:focus {
			border: 3px solid $gray-dark;
		}
	}

	.search-submit {
		position: absolute;
		right: 3px;
		top: 3px;
		height: ptr(53);
		width: ptr(60);
		padding: 0;
		background-color: #ffffff;
		border: 0;
		color: $gray-dark;

		.fa {
			font-size: ptr(18);
		}
	}

	.header__left-widgets &,
	.header__right-widgets & {
		font-size: 0;

		.search-field {
			font-size: ptr(15);
			text-transform: uppercase;
			border: 3px solid $gray-dark;
			background-color: $gray-dark;

			&::placeholder {
				color: #ffffff;
			}

			&:focus {
				background-color: #ffffff;

				&::placeholder {
					color: $gray-light;
				}
			}
		}

		.search-submit {
			background-color: $gray-dark;
			color: rgba(255, 255, 255, .35);
			height: ptr(54);
		}
	}

	.footer & {
		.search-field {
			border: 3px solid transparent;

			&:hover {
				border-color: transparent;
			}

			&:focus {
				border-color: transparent;
			}
		}
	}
}

/* Widgets With Lists */
.widget_archive,
.widget_pages,
.widget_categories,
.widget_meta,
.widget_recent_comments,
.widget_recent_entries,
.widget_rss {
	ul {
		@include list-unstyled;
		padding-right: 0;
	}

	> ul {
		margin-top: ptr(-9);

		> li {
			&:first-of-type {
				> a {
					padding-top: 0;
				}
			}

			&:last-of-type {
				> a {
					padding-bottom: 0;
				}
			}
		}
	}

	a {
		display: inline-block;
		color: $gray-light;
		font-family: $secondary-font;
		font-weight: 800;
		font-size: ptr(15);
		text-transform: uppercase;
		margin-right: ptr(5);
		padding: ptr(2) 0;
		word-wrap: break-word;

		&:hover {
			color: $brand-primary;
			text-decoration: none;
		}
	}

	.children a {
		padding-left: ptr(10);
	}

	.children .children a {
		padding-left: ptr(20);
	}

	.children .children .children a {
		padding-left: ptr(30);
	}
}

// Specific widget RSS style.
.widget_rss {
	li {
		padding-bottom: ptr(15);
	}
}

/* Images in text widgets. */
.textwidget {
	a > img {
		&.alignright,
		&.alignnone,
		&.alignleft,
		&.aligncenter {
			margin-top: 0;
		}
	}

	> p:last-of-type {
		margin-bottom: 0;
	}
}

/* Custom Menu */
.widget_nav_menu {
	ul {
		@include list-unstyled;
	}

	.sub-menu {
		padding-left: ptr(10);
	}
}

.top {
	.widget_nav_menu {
		.menu {
			margin: 0;
			padding: 0;

			> .menu-item {
				position: relative;
				display: inline-block;

				&:focus,
				&:hover,
				&[aria-expanded="true"] {
					> .sub-menu {
						visibility: visible;
						opacity: 1;
						z-index: 1;
					}
				}

				&:first-of-type {
					> a {
						padding-left: 0;
					}
				}

				&:last-of-type {
					> a {
						padding-right: 0;
					}
				}
			}

			a {
				display: block;
				padding: ptr(11) ptr(8) ptr(8);
				color: $gray-light;

				&:focus,
				&:hover {
					color: $brand-primary;
					text-decoration: none;
				}
			}

			.sub-menu {
				position: absolute;
				visibility: hidden;
				padding: 0;
				opacity: 0;
				left: ptr(-5);

				.menu-item {
					display: block;
					text-align: left;

					// 2. level sub menus are open on :hover.
					&:focus,
					&:hover,
					&[aria-expanded="true"] {
						> .sub-menu {
							visibility: visible;
							opacity: 1;
						}
					}

					&:last-of-type {
						> a {
							border-bottom: 0;
						}
					}
				}

				a {
					display: block;
					white-space: nowrap;
					background-color: $gray-lightest;
					padding: ptr(5) ptr(30) ptr(5) ptr(15);
					min-width: ptr(80);
					border-bottom: 1px solid rgba(0, 0, 0, .05);
				}

				// 2. level + are opening next to each other.
				.sub-menu {
					left: 100%;
					top: 0;

					a {
						border-left: 1px solid rgba(0, 0, 0, .05);
					}
				}
			}
		}
	}
}

.footer {
	.widget_nav_menu {
		.sub-menu {
			padding-left: ptr(12);
		}

		a {
			display: block;
			padding: ptr(8) 0;

			@include media-breakpoint-up(lg) {
				padding: 0 0 ptr(6);
			}
		}
	}
}

.content-area,
.sidebar {
	.widget_nav_menu {
		.menu { // topmost UL
			display: inline-block;
			width: 100%;
			padding: 0 ptr(20);
			background-color: #ffffff;
			box-shadow: $primary-box-shadow;

			a {
				position: relative;
				display: block;
				font-family: $secondary-font;
				font-size: ptr(15);
				font-weight: 800;
				text-transform: uppercase;
				color: $gray-light;
				margin: ptr(20) 0;
				padding: ptr(8) ptr(25) ptr(8) ptr(5);
				transition: $primary-transition;

				&:focus,
				&:hover {
					text-decoration: none;
					color: $brand-primary;

					&::after {
						opacity: 1;
						visibility: visible;
					}
				}

				&::after {
					position: absolute;
					opacity: 0;
					visibility: hidden;
					content: '\f178';
					font-family: 'FontAwesome';
					font-size: ptr(20);
					color: $brand-primary;
					right: 5px;
					top: calc(50% - #{ptr(12)});
					transition: $primary-transition;
				}
			}

			> li:first-of-type::before { // no top border for the first item
				display: none;
			}

			li { // generic li
				position: relative;

				&::before { // line after (actually before) each list item
					content: '';
					position: absolute;
					height: 2px;
					top: -11px;
					left: 0;
					right: 0;
					background: $horizontal-dotted-line;
				}

				&.current-menu-item {
					> a {
						position: relative;
						background-color: $brand-primary;
						color: #ffffff;
						z-index: 10;

						&::after {
							opacity: 1;
							visibility: visible;
							color: #ffffff;
						}
					}
				}
			}
		}

		.sub-menu {
			padding-left: 0;

			a {
				font-family: $primary-font;
				font-weight: normal;
				text-transform: none;
				padding-left: ptr(20);
			}

			.sub-menu {
				a {
					padding-left: ptr(30);
				}

				.sub-menu {
					a {
						padding-left: ptr(40);
					}

					.sub-menu {
						a {
							padding-left: ptr(50);
						}
					}
				}
			}
		}
	}
}
