/* WPML language widget */

// scss-lint:disable SelectorFormat IdSelector NestingDepth

// Shaka style language switcher in right header widgets
.header__left-widgets,
.header__right-widgets {
	#lang_sel, // Old WPML ID.
	.wpml-ls {
		position: relative;
		display: inline-block;
		height: auto;
		width: 100%;

		@include media-breakpoint-up(lg) {
			width: auto;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li:hover ul {
				visibility: visible;
			}

			ul {
				visibility: hidden;
				position: absolute;
				height: 0;
				top: 100%;
				left: 0;
				border-top: 0;
				z-index: 10000;
				right: 0;

				a {
					height: auto;
					border-width: 0 1px 1px;
					border-top: 1px solid lighten($gray-dark, 8);
					transition: $primary-transition;

					@include media-breakpoint-up(lg) {
						border-top: 1px solid rgba(255, 255, 255, .1);
					}

					&:visited {
						background-color: $gray-dark;
						height: auto;
						color: #f7f7f7;
						line-height: 1;

						&:hover {
							background-color: lighten($gray-dark, 5);
						}
					}
				}
			}
		}

		li {
			position: relative;
			padding: 0;
			margin: 0;
			list-style-type: none;
			z-index: 1;

			@include media-breakpoint-up(lg) {
				width: auto;
				min-width: ptr(150);
			}
		}

		a {
			display: block;
			font-size: ptr(15);
			text-decoration: none;
			color: #f7f7f7;
			border: 1px solid $gray-dark;
			background-color: $gray-dark;
			padding: 22px 20px;
			line-height: 1;
			font-family: $secondary-font;
			transition: $primary-transition;

			&:hover {
				background-color: lighten($gray-dark, 5);
				color: #f7f7f7;
			}

			&.lang_sel_sel {
				position: relative;
				background-image: none;

				&::after {
					position: absolute;
					content: '\f078';
					right: ptr(20);
					top: calc(50% - #{ptr(6)});
					font-family: 'FontAwesome';
					font-size: ptr(10);
					color: rgba(255, 255, 255, .35);
				}
			}
		}

		.iclflag {
			width: 18px;
			height: 12px;
			position: relative;
			margin-right: ptr(5);
			top: ptr(-1);
		}

		.wpml-ls-current-language:hover > a,
		.wpml-ls-current-language > a:focus {
			color: #f7f7f7;
			background-color: $gray-dark;
		}
	}
}
