/*
 Theme Name:   Shaka Child
 Theme URI:    http://shaka-child/
 Description:  Child Theme
 Author:       Shaka Child
 Author URI:   http://shaka-child.com
 Template:     shaka-pt
 Version:      1.0.0
*/

.woocommerce form .form-row input.input-text, .woocommerce form .form-row select.input-text{
    border: 1px solid #E7E7E7 !important;
    color: #666 !important;
    background: none;
}

.error{
	color: #ff0000;

}