/*------------------------------------*\
    Local variables
\*------------------------------------*/

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark: #3b3331;
$gray: #555555;
$gray-light: #888888;
$gray-lighter: #e8e8e8;
$gray-lightest: #f7f7f7;

$brand-primary: #d80019;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded: false;


// Body
//
// Settings for the `<body>` element.

$body-color: $gray-light;


// Links
//
// Style anchor elements.

$link-color: #5897cc;


// Typography
//
// Font, line-height, and color for body text, headings, and more.

// Rem px ratio Function
@function ptr($px) {
	@return ($px / $rem-px-ratio) + rem;
}

$font-family-sans-serif: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$primary-font: $font-family-sans-serif;
$secondary-font: 'Dosis', Helvetica, Arial, sans-serif;

$font-size-root: 18px;
$rem-px-ratio: 18;

$headings-font-family: $secondary-font;
$headings-font-weight: 800;
$headings-line-height: 1.2;
$headings-color: $gray-dark;


// Components
//
// Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$border-radius: ptr(2);


// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

$btn-padding-x: ptr(25);
$btn-padding-y: ptr(16);
$btn-font-weight: 800;

$btn-primary-color: $gray-lightest;

// ProteusThemes variables
//
// Custom variables which are not part of the Bootstrap.

// Transitions
$primary-transition: all 100ms ease-out;

// Font Awesome path
$fa-font-path: 'bower_components/font-awesome/fonts';

// Default double Box Shadow
$primary-box-shadow: 0 4px 12px rgba(0, 0, 0, .05), 0 2px 6px rgba(0, 0, 0, .15);

// Horziontal dotted line
$horizontal-dotted-line: repeating-linear-gradient(90deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 2px, transparent 0, transparent 6px);

// Vertical dotted line
$vertical-dotted-line: repeating-linear-gradient(180deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1) 2px, transparent 0, transparent 6px);
