/*!
Theme Name: Shaka PT
Theme URI: https://demo.proteusthemes.com/shaka/
Author: ProteusThemes
Author URI: https://www.proteusthemes.com/
Description: Shaka is the world’s first WordPress theme made specifically for the water-sports industry. Whether it is for surf schools in Spain or diving classes in Bali, Shaka will have your visitors pumped and ready for an unforgettable trip to the ocean.
Version: 0.0.0-tmp
License: GPL 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, three-columns, left-sidebar, right-sidebar, grid-layout, custom-background, custom-colors, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce, entertainment, holiday
Text domain: shaka-pt
*/

/*
 TABLE OF CONTENTS
	01. Project variables............Imported variables
	02. Twitter Bootstrap............Remove what is not neccessary
	03. Tags.........................Like <body>, <h1> etc.
	04. Helpers and utility classes..The general styles like .push-down-15 etc.
	05. Components...................Imported files, like partials, Compass etc.
		05.01. Custom Mixins
		05.02. Top Bar
		05.03. Header
		05.04. Page Header
		05.05. Breadcrumbs
		05.06. Sidebar
		05.07. Footer
		05.08. Error 404
		05.09. Portfolio
		05.10. Boxed Container
		05.11. Main Navigation
		05.12. Button
		05.13. Featured Video
		05.14. Slick Carousel
		05.15. Gallery
		05.16. Contact Form 7
		05.17. Icon Box
		05.18. Social Icons
		05.19. Featured Page
		05.20. Call to Action
		05.21. Testimonials
		05.22. Latest News
		05.23. Portfolio Grid
		05.24. Instagram
		05.25. Skype Button
		05.26. Opening Time
		05.27. Brochure Box
		05.28. Accordion
		05.29. Person Profile
		05.30. Pricing List
		05.31. Contact Profile
		05.32. Number Counter
		05.33. Pricing Table
		05.34. Special Offer
		05.35. Featured Product
		05.36. Image Banner
		05.37. Hentry
		05.38. Pagination
		05.39. Comments
		05.40. WordPress Specific
		05.41. WordPress Widgets
*/

/*------------------------------------*\
	01. Project variables

	only visible in SASS source files
\*------------------------------------*/

@import 'vars';

/*------------------------------------*\
	02. Twitter Bootstrap

	Remove what is not necessary
\*------------------------------------*/

// Core variables and mixins
@import 'variables';
@import 'mixins';

// // Reset and dependencies
@import 'normalize';
@import 'print';

// Core CSS
@import 'reboot';
@import 'type';
@import 'images';
@import 'code';
@import 'grid';
@import 'tables';
@import 'forms';
@import 'buttons';

// // Components
@import 'animation';
// @import 'dropdown';
// @import 'button-group';
// @import 'input-group';
// @import 'custom-forms';
// @import 'nav';
@import 'navbar';
@import 'card';
// @import 'breadcrumb';
// @import 'pagination';
// @import 'pager';
// @import 'labels';
// @import 'jumbotron';
// @import 'alert';
// @import 'progress';
// @import 'media';
// @import 'list-group';
// @import 'close';
@import 'responsive-embed';

// Components w/ JavaScript
// @import 'modal';
// @import 'tooltip';
// @import 'popover';
@import 'carousel';

// Utility classes
@import 'utilities';
// @import 'utilities-spacing';
@import 'utilities-responsive';


/*------------------------------------*\
	03. Tags
\*------------------------------------*/

html {
	font-size: 16px;

	@include media-breakpoint-up(lg) {
		font-size: 18px;
	}
}

/*------------------------------------*\
	04. Helpers and very general classes
\*------------------------------------*/

.screen-reader-text {
	// scss-lint:disable PlaceholderInExtend
	@extend .sr-only;
}

.content-area {
	position: relative;
	z-index: 20;
	margin-bottom: ptr(90);
}

.featured-widget {
	padding: ptr(30);
	box-shadow: $primary-box-shadow;
	background-color: #ffffff;
}

.form-control {
	border: 3px solid #dddddd;
	transition: $primary-transition;

	&:hover {
		border: 3px solid #bbbbbb;
	}

	&:focus {
		border: 3px solid $gray-dark;
	}
}

.jumbotron-overlap {
	@media (min-width: 1500px) {
		margin-top: ptr(-120);
	}
}

.more-link {
	text-transform: uppercase;
	font-family: $secondary-font;
	font-size: ptr(15);
	font-weight: 800;
}

.hr {
	&--dotted {
		background: $horizontal-dotted-line;
		height: 2px;
		border: 0;
	}
}

.page-template-template-front-page-slider-alt {
	.fullwidthbanner-container {
		z-index: 0;
	}
}

/*------------------------------------*\
	05. Components
\*------------------------------------*/

// Mixins
@import 'components/custom-mixins';

// Layout
@import 'components/top-bar';
@import 'components/header';
@import 'components/page-header';
@import 'components/breadcrumbs';
@import 'components/sidebar';
@import 'components/footer';
@import 'components/error-404';
@import 'components/portfolio';
@import 'components/boxed-container';

// Elements
@import 'components/main-navigation';
@import 'components/button';
@import 'components/featured-video';
@import 'components/slick-carousel';
@import 'components/gallery';
@import 'components/contact-form-7';
@import 'components/sticky-menu';
@import 'components/wpml';

// Proteus Widgets
@import 'proteus-widgets/icon-box';
@import 'proteus-widgets/social-icons';
@import 'proteus-widgets/featured-page';
@import 'proteus-widgets/call-to-action';
@import 'proteus-widgets/testimonials';
@import 'proteus-widgets/latest-news';
@import 'proteus-widgets/portfolio-grid';
@import 'proteus-widgets/instagram';
@import 'proteus-widgets/skype-button';
@import 'proteus-widgets/opening-time';
@import 'proteus-widgets/brochure-box';
@import 'proteus-widgets/accordion';
@import 'proteus-widgets/person-profile';
@import 'proteus-widgets/pricing-list';
@import 'proteus-widgets/contact-profile';
@import 'proteus-widgets/number-counter';
@import 'proteus-widgets/pricing-table';
@import 'proteus-widgets/special-offer';
@import 'proteus-widgets/featured-product';
@import 'proteus-widgets/image-banner';
@import 'proteus-widgets/weather';

// WordPress Specific
@import 'components/hentry';
@import 'components/pagination';
@import 'components/comments';
@import 'components/wp';
@import 'components/wp-widgets';

// Fonts
@import '../../bower_components/font-awesome/scss/font-awesome';

// Sticky Menu.
@import '../../vendor/proteusthemes/sticky-menu/assets/scss/sticky-menu-minimal';

// Slick Carousel
@import 'slick';
// @import 'slick-theme';

// Older Browsers
@import 'components/no-flexbox';

/*------------------------------------*\
	The End :)
\*------------------------------------*/

/*# sourceMappingURL=style.css.map */
